---
layout: default
permalink: /instruction
testimonials: true
newsletter: false
title: Instruction
---

{% comment %}
{% include instruction/hero.html %}
{% endcomment %}

<div id="orbit-courses" class="py-5 bg-dark">
  <div class="container">
    {% include instruction/header.html %}

    {% include instruction/get-started.html %}

    <h3 id="web-foundations" class="text-light mb-0 mt-5">
      Web Foundations
    </h3>
    <p class="text-light mb-3 h4-subtitle">
      Weekly live instruction to build a strong foundation in web development and prepare your for other Orbits & Intensives.
    </p>
    <div class="row">
      {% include instruction/cards/htmlcss.html %}
      {% include instruction/cards/uitoolkits.html %}
      {% include instruction/cards/jquery.html %}
    </div>

    <a name="development-paths"></a>

    <h3 class="text-light mb-0 mt-3">
      Orbits
    </h3>
    <p class="text-light mb-3 h4-subtitle">
      Weekly live instruction to build programming skills throuh repetition of exercises and projects.
    </p>
    <div class="row">
      {% include instruction/cards/webdev.html %}
      {% include instruction/cards/javascript.html %}
      {% include instruction/cards/whatsorbit.html %}
    </div>

    <h3 class="text-light mb-0 mt-3">
      Intensives
    </h3>
    <p class="text-light mb-3 h4-subtitle">
      Focused instruction covering advanced technologies, languages and frameworks to create complex applications and systems.
    </p>
    <div class="row">
      {% include instruction/cards/python.html %}
      {% include instruction/cards/react.html %}
      {% include instruction/cards/gitcmdline.html %}
    </div>

  </div>
</div>
{% comment %}
  {% include instruction/switch-careers.html %}
  {% include instruction/pillars.html %}
{% endcomment %}
{% include instagram.html %}
<br />
<br />
{% include student-portal.html %}

{% comment %}
  {% include instruction/audit-class-cta.html %}
{% endcomment %}

{% include free-trial.html %}
