<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1581092580497-e0d23cbdf1dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" alt="GACC Apprenticeship - CAD CAM Designer" />
    <div class="card-body">
      <h5>
      CAD-CAM Designer
      </h5>
      <p class="card-text">
        Begin problem solving with the most popular JavaScript Library.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          jQuery, Programatic Thinking
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Wednesday, <code>7-9pm</code>.
          <br />
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          n/a
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-end">
        <small>
          Included with Membership
        </small>
      </div>
    </div>
  </div>
</div>
