<div class="row title-copy">
    <a name="anchor--community"></a>
    <div class="col">
      <h2 class="featurette-heading">
        Dual Apprenticeship system
      </h2>
      
    </div>
  </div>
    
      <div id="featurette--locations" class="featurettes-container">
        <h3 class="label-primary mt-5">
          
        </h3>
  
        <hr class="mt-2 mb-4" />
        <a name="anchor--locations"></a>
  
        <div class="featurettes">
          <div class="row featurette mb-0">
            <div class="col-md-5">
               <iframe src="https://www.google.com/maps/d/embed?mid=1rwG0SGwmoDeJr4-RiPAT9_-9R0e9Rl23&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
            <div class="col-md-7">
              <h2 class="float-right">
                <small>
                  Pittsburgh
                </small>
                <span class="text-muted">
                  Downtown
                </span>
              </h2>
              {% include address-plug.html %}
            </p>
          </div>
        </div>
      </div>
    </div>