<div class="col-sm-12 col-md-4 {% if page.cards-col-6 }} == 'true' %} col-lg-6 {% else %} col-lg-4 {% endif %} mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1600466886092-f76fabd39a61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2920&q=80" alt="GACC Apprenticeship - Mechatronics Technician" />
    <div class="card-body">
      <h2 class="text-center">
        Mechatronics Technician
      </h2>
      <p class="card-text">
        Mechatronics Technicians have electrical and mechanical skill sets and therefore are high-value employees with job duties critically important to a company. MTs are highly involved with maintaining high-tech machines such as robots, CNC machining, factory automation equipment and a range of complex platform. Mechatronics skills will be in high demand for most Industry 4.0 careers.
      </p>
      <p><b>up to ~6,000 hours</b> of On-the-Job Training</p>
      <p>
        <b>550 Hours</b> of Related Technical Instruction in:
        <br />
        <span class="text-muted mt-2">
          <code>Mechanical</code>, <code>Electrical</code>, <code>Computer Programming (PLCs)</code>, <code>Automation</code>, <code>Robotics</code>, <code>Control Systems</code>, <code>CAD Electives</code>.
        </span>
      </p>

      <p>
        <b>Credentials Earned</b>:
        <br />
        <span class="text-muted mt-2">
          <ul>
            <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
            <li>Mechatronics Technician Certificate - Partnering Community College</li>
            <li>Associates degree - Partnering Community College</li>
            <li>German Apprenticeship Certificate - DIHK</li>
        </ul>
        </span>

      </p>
      <div class="d-flex align-items-center justify-content-around">
        {% if page.hide_card_details_btn %}
        {% include components/btn-apply-here.html %}
        {% else %}
          <a
            role="button"
            class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
            title="Mechatronics Technician"
            href="/apprenticeships/mechatronics-technician.html"
            ga-label="Mechatronics Technician"
            ga-category="apprenticeships"
          >
            Details
          </a>
        {% endif %}
        <div class="text-right">
          <span class="bg-warning"><b>Enrolling Now</b></span><br />
          <small class="text-muted"> last updated {{ "now" | date: "%b %d, 20%y" }} </small>
        </div>
      </div>

    </div>
  </div>
</div>
