<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1638442398386-803b39c6e5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3031&q=80" alt="GACC Apprenticeship - Mechatronics Technician />
    <div class="card-body">
      <h5>
        Mechatronics Technician
      </h5>
      <p class="card-text">
        Begin building websites and components with HTML & CSS.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          HTML, CSS, Git, GitHub
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Wednesday, <code>7-9pm</code>.
          <br />
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          n/a
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-end">
        <small>
          Included with Membership
        </small>
      </div>

    </div>
  </div>
</div>
