<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card shadow-sm {% if page.hide_card_details_btn %}no-hover{% else %}h-100{% endif %}">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1611567434227-89c3f5456c2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80"
      alt="GACC Apprenticeship - Polymer Technician"
    />
    <div class="card-body">
      <h5>
        Polymer Process Technician
      </h5>
      <p class="card-text">
        Build a responsive portfolio of websites from scratch using HTML, CSS and JavaScript.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          HTML5, CSS3, JavaScript, jQuery, Bootstrap, Git & GitHub
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Tuesday, <code>7-9pm</code>.
          <br/>
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          {% if page.hide_card_details_btn %}
            <a
              class="ga-click-event my-2"
              title="Web Foundations"
              href="/instruction#web-foundations"
              ga-label="Web Foundations"
              ga-category="prerequisite"
            >
              Web Foundations
            </a>
          {% else %}
            Web Foundations
          {% endif %}
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-between">
        {% if page.hide_card_details_btn %}
        <p>
          <b>Member Pricing:</b>
          <br />
          <span class="text-muted mt-2">
            Included with <a class="ga-click-event" href="/membership" ga-label="membership" ga-category="webdev">Premium</a>
          </span>
        </p>
        {% else %}
          <a
            role="button"
            class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
            title="Polymer Process Technician"
            href="/apprenticeships/polymer-process-technician.html"
            ga-label="Polymer Process Technician"
            ga-category="apprenticeships"
          >
            Details
          </a>
          <div class="text-right">
            <span>Enrollment: <b>Open</b></span><br />
            <!--<small class="text-muted">Starter: $599</small>-->
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
