<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1560264357-8d9202250f21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80" alt="GACC Apprenticeship - Sales Engineering"/>
    <div class="card-body">
      <h5>
Sales Engineering
      </h5>
      <p class="card-text">
        Sales Engineer (Technical Sales)- combines sales, business, and technology.
      </p>
      <p>
        <b>Skills:</b>
        <br />
        <span class="text-muted mt-2">
          <code>technical sales</code>, <code>business</code>, <code>intro programming</code>
        </span>
      </p>

      <p>
        <b>Credentials Earned:</b>
        <ul>
        <li>Associates Degree in Business with Certification in Sales Engineering</li>
      <li>Journeyman certification issued by the Department of Labor</li>
      <li>Globally-Recognized German DiHK Certification</li>
      </ul>
      </p>

    <a
      role="button"
      class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
      title="Sales Engineer"
      href="/apprenticeships/sales-engineer.html"
      ga-label="Sales Engineer"
      ga-category="apprenticeships"
    >
      Details
    </a>
    <div class="text-right">
      <span>Enrollment: <b>Open</b></span><br />
      <!--<small class="text-muted">Starter: $599</small>-->
    </div>

      </div>
    </div>
  </div>
