<div class="col-sm-12 col-md-6 {% if page.cards-col-6 == true %} col-lg-6 {% else %} col-lg-4 {% endif %} mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1560264357-8d9202250f21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80" alt="GACC Apprenticeship - Sales Engineering"/>
    <div class="card-body">
      <h2 class="text-center">
Sales Engineer
      </h2>
      <p class="card-text">
        The Sales Engineer has fundamental skills in manufacturing processes and production management to give them the technical background they need to pitch a sale or convince buyers with their problem-solving strategy with technical issues. The sales engineer forms a bridge between the customer and the engineering or R&D department of a company as he or she becomes an expert about customer needs and preferences and can determine how products and services could be modified to suit those needs.
      </p>
      <p>
        <p><b>up to ~5,000 hours</b> of On-the-Job Training</p>
        <p>
          <b>465 Hours</b> of related Technical Instruction in:
        <span class="text-muted mt-2">
          <code>Technical Sales</code>, <code>Business Processes</code>, <code>Agile Methodologies</code>, <code>Intro Programming (Python)</code>, <code>Intro Web Development</code>
        </span>
      </p>

      <p>
        <b>Credentials Earned:</b>
        <ul>
        <li>Associates Degree in Business with Certification in Sales Engineering</li>
      <li>Journeyman certification issued by the Department of Labor</li>
      <li>Globally-Recognized German DiHK Certification</li>
      </ul>
      </p>

      <div class="d-flex align-items-center justify-content-around">
        {% if page.hide_card_details_btn %}
        {% include modals/call-connect.html %}
        {% else %}
    <a
      role="button"
      class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
      title="Sales Engineer"
      href="/apprenticeships/sales-engineer"
      ga-label="Sales Engineer"
      ga-category="apprenticeships"
    >
      Details
    </a>
    {% endif %}
        <div class="text-right">
          <span class="bg-warning"><b>Enrolling Now</b></span><br />
          <small class="text-muted"> last updated {{ "now" | date: "%b %d, 20%y" }} </small>
        </div>
      </div>
</div>
</div>
</div>