<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1560264357-8d9202250f21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80" alt="GACC Apprenticeship - Sales Engineering"/>
    <div class="card-body">
      <h5>
Sales Engineering
      </h5>
      <p class="card-text">
        Leverage common ui toolkits to rapidly build user interfaces.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          Bootstrap, Grid System
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Wednesday, <code>7-9pm</code>.
          <br />
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          n/a
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-between">
        {% if page.hide_card_details_btn %}
        <p>
          <b>Member Pricing:</b>
          <br />
          <span class="text-muted mt-2">
            Included with <a class="ga-click-event" href="/membership" ga-label="membership" ga-category="webdev">Premium</a>
          </span>
        </p>
        {% else %}
          <a
            role="button"
            class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
            title="Sales Engineer"
            href="/apprenticeships/sales-engineer.html"
            ga-label="Sales Engineer"
            ga-category="apprenticeships"
          >
            Details
          </a>
          <div class="text-right">
            <span>Enrollment: <b>Open</b></span><br />
            <!--<small class="text-muted">Starter: $599</small>-->
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
