<div class="col-sm-12 col-md-6 {% if page.cards-col-6 == true %} col-lg-6 {% else %} col-lg-4 {% endif %} mb-4">
    <div class="card no-hover shadow-sm h-100">
      <img class="card-img-top" src="/assets/img/trainthetrainer_556392739-820x545.jpeg" alt="GACC Apprenticeship - CAD CAM Designer" />
      <div class="card-body">
        <h2 class="text-center">
Train-the-Trainer
        </h2>
        <p class="card-text">
          Based on the German Gold Standard "Ausbildung der Ausbilder,” and the German system of workforce training, our Train-the-Trainer workshop develops skilled workers into mentors and vision leaders.</p>
        <p>
          <b>Skills:</b>
          <br />
          <span class="text-muted mt-2">
            <code>Leadership</code>, <code>Mentorship</code>, <code>Managment</code>, <code>Communications</code>,
          </span>
        </p>
  
       <!--<p>
          <b>Credentials Earned:</b>
          <ul>
          <li>Associates Degree ub Computer-aided Drafting & Design Technology (A.S.)</li>
        <li>Journeyman certification issued by the Department of Labor</li>
        <li>Globally-Recognized German DiHK Certification</li>
        </ul>
        </p>-->

        <div class="d-flex align-items-center justify-content-around">
          {% if page.hide_card_details_btn %}
          {% include modals/call-connect.html %}
          {% else %}
            <a
              role="button"
              class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
              title="Mechatronics Technician"
              href="/workforce-development/train-the-trainer"
              ga-label="Mechatronics Technician"
              ga-category="apprenticeships"
            >
              Details
            </a>
          {% endif %}
          <div class="text-right">
            <span class="bg-warning"><b></b></span><br />
            <small class="text-muted"> last updated {{ "now" | date: "%b %d, 20%y" }} </small>
          </div>
        </div>
      </div>
    </div>
  </div>