<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <div class="card-body">
      <h5>

      </h5>
      <p class="card-text">
        Benchmarked on the German Dual Education System, they are the gold standard of a practical educational model developed in conjunction with leaders of manufacturing and technology industries.         They combine practice, theory and work to train a globally competitive workforce. Companies get a tailored training program, greater employee loyalty and access to a high-quality candidate pool.
      </p>
      <p class="card-text">
        Fundamentals and core concepts are driven by the Related Technical Instruction and affirmed by On-the-Job Training.
      </p>
      <p class="card-text">
        Apprentices work through real-world builds and troubleshooting simulations at difficulty-levels concurrent with their aptitude.
      </p>
    </div>
  </div>
</div>
