<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <div class="card-body">
      <h5>
        What's an Orbit
      </h5>
      <p class="card-text">
        An Orbit is our framework for classroom instruction. The orbital path of planet or satellite serves as a good metaphor for the Upstream curriculum.
      </p>
      <p class="card-text">
        Fundamentals and core concepts of a programming language are the basis. Short, repetitive exercises to be completed quickly sharpen skills and generate momentum.
      </p>
      <p class="card-text">
        Orbiteers work through real-world builds and troubleshooting simulations at difficulty-levels concurrent with their aptitude.
      </p>
    </div>
  </div>
</div>
