// @import "vars";

a,
.btn-link {
  color: $clear-chill;
  cursor: pointer;
}

.btn-primary {
  background-color: $keppel;
  border-color: $keppel;

  @media (hover: hover) {
    &:hover {
      background-color: rgba($keppel, .9);
      border-color: $keppel;
    }
  }

  &:disabled {
    background-color: $green-grey;
    border-color: $green-grey;
    cursor: progress;
  }
}

// Emphasis
.btn-emphasis-primary {
  background-color: $georgia-peach;
  border-color: $georgia-peach;
  color: $white;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 0 rgba($black, .1);

  @media (hover: hover) {
    &:hover {
      background-color: rgba($georgia-peach, .9);
      border-color: $georgia-peach;
      color: $white;
    }
  }

  &:disabled {
    background-color: $green-grey;
    border-color: $green-grey;
    cursor: progress;
  }
}

// outline-primary
.btn-outline-primary {
  border-color: $clear-chill;
  color: $clear-chill;

  @media (hover: hover) {
    &:hover {
      background-color: $clear-chill;
      border-color: $clear-chill;
    }
  }
}

@mixin btn-lg {
  border-radius: .3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: .5rem 1rem;
}
