.index {
  .jumbotron {
    .carousel-item {
      @include media-breakpoint-down(sm) {
        height: 208px;
      }

      img {
        @include media-breakpoint-down(sm) {
          height: 208px;
        }
      }
    }

  }
}

.section--index--hire-right {
  border-right: 1px solid white;
}

.border-right-1 {
  border-right: 1px white solid;
}

.section--index {
  background-color: $black;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: calc(100vh - 86px);
  position: relative;
  width: 100%;

  h1 {
    color: $white;

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
      background: rgba($black, .5);
    }
  }

  h3 {
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      width: 90%;
      margin: 0 auto;
    }
  }

  .text-center-middle {
    background-image: radial-gradient(500px 225px, rgba(0, 0, 0, .5), transparent);
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      padding-top: 30%;
    }
  }

  @include media-breakpoint-up(sm) {
    background-position: center center;
  }
}

.section--index--instruction {
  // background-image: url('../images/lewis-mike.jpg');
  background-image: url('/assets/videos/gacc-home-video.mp4');
  // background-image: url('#{$baseurl}/images/header.png');
}

.section--index--instruction video {
  position: absolute;
  top: 0;
  left: 0;
}

.section--index--hire-right {
  background-image: url('https://s3.us-east-2.amazonaws.com/upstreamcoding.com/images/over-shoulder-mentor.jpg');
  // background-image: url('#{$baseurl}/images/header.png');
}
