.progress-iconbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: grey;
  display: flex;

  li {
    list-style-type: none;
    font-size: 12px;
    width: 33.3%;
    position: relative;
    text-align: center;

    &.active {
      color: #000;
    }

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background: lightgrey;
      position: absolute;
      left: 0;
      top: 25px;
      z-index: 1;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 45px;
    position: relative;
    display: block;
    font-size: 18px;
    color: #fff;
    background: #b3b3b3;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    z-index: 2;
  }
}

.progress-iconbar li.active .icon,
.progress-iconbar li.active:before {
  background: #56b19f;
}
