// BRANDING
// https://flatuicolors.com/palette/in
$ships-officer: #2c3a47;
$keppel: #56b19f;
$clear-chill: #1b9cfc;
$fiery-fuchsia: #b33771;
$honey-glow: #eab543;
$falling-star: #cad3c8;
$georgia-peach: #fd7272;
$sarawak-white-pepper: #f8efba;
$sarawak-white-pepper-hover: #fbec95;

// SERIES
$series-webdev: #65afb0;
$series-webapp: #2c5c80;

// OTHER
$white: #fff;
$black: #000;
$green-grey: #cad3c8;
$grey: #777;
$grey-light: #fdfdfd;

// LEGACY RM
$dodger-blue: #1B9CFC;
