<div class="row m-5">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4 mx-auto">
        <h5></h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="https://visitor.r20.constantcontact.com/manage/optin?v=001a9Ty4MzTba-tdAEZjZE3-_Bv6AjMuEl0djUwrhmhLU54iDKIzOS4ZcJCz0LfiIdZJMIiDl5hhsxUVKAU94i9VZFVn5myNo7Y31adApmJwTA%3D"
          ga-label="{{ page.course_slug }}"
          ga-category="subscribeNewsletter"
          aria-hidden="true"
        >
  Subscribe to our Newsletter
        </button>
      </div>
    </div>
  </div>