<div class="row m-5">
  <div class="col">
    <div class="card p-2 col-sm-12 col-lg-4 mx-auto">
      <h5 class="text-center">Schedule a 10 minute call with us</h5>
      <button
        class="btn btn-lg btn-outline-primary ga-click-event"
        href="#"
        ga-label="{{ page.course_slug }}"
        ga-category="quickConnect"
        data-toggle="modal"
        data-target="#modal-connectWithAdvisor"
        data-course="{{ page.course_slug }}"
      >
        Quick Connect
      </button>
      <small class="text-center">email only</small>
    </div>
  </div>
</div>