---
layout: default
title: "CAD/CAM Technical Designer"
permalink: /apprenticeships/cad-cam-technical-designer
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: cad-cam
testimonials: false
photos-loop: "photos-cad"
---

<div class="container-fluid m-0 bg-white">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb bg-white">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/">Home</a></li>
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page"><a href="/apprenticeships#four-gacc-apprenticeships">Apprenticeships</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="h1 text-center m-3">{{ page.title }} </div>
</div>

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include apprenticeships/cards/cad-cam-designer.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
          CAD / CAM Technical Designers utilize their extensive software knowledge to produce complex projects involving 2D images (surface modeling) and 3D images (solid modeling). They are able to analyze a problem using their mathematical and engineering background and come up with a creative solution. CAD/CAM Technical Designers are working closely with the Engineering team and customers on a variety of projects.
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
              <!-- <a
                class="btn btn-md btn-primary ga-click-event"
                href="#"
                role="button"
                ga-label="webdev"
                ga-category="requestSyllabus"
                data-toggle="modal"
                data-target="#modal--requestSyllabus--webapp"
              >
                <i class="fas fa-cloud-download-alt"></i> Download Syllabus
              </a> -->
          </h4>

          <!-- Building web apps with <a href="https://reactjs.org/" target="_blank" title="React - A JavaScript library for building user interfaces">React</a>, requires thinking about a User Interface as series of components integrated with data in predictable patterns using <abbr title="JavaScript XML">JSX</abbr> syntax. -->

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">
              <div>
                <h5 class="my-0">
                 Drafting
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Read and interpret blueprints, sketches, drawings, routing instructions, manuals, and specifications.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                   Engineering
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Use innovation to design and build projects using professional software.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Math & Technical Classes
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Students will be taught about mathematical and technical concepts and procedures related to the role of a CAD/CAM Technical Designer. 
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Production Management
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Learn the process of managing the activities of a business to produce desired outcomes for products and services.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Fundamental Skills in Manufacturing 
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Find out all the basic skills you need to know in order to be successful in manufacturing.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

{% include apprenticeships/faqs/faq-cad.html %}

{% include apprenticeships/sliders/photos-cad.html %}
    
{% include modals/call-connect.html %}
  </div>
</div>

