---
layout: default
title: Mechatronics Technician | Apprenticeship
permalink: /apprenticeships/mechatronics-technician
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: mechatronics
testimonials: true
---

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include apprenticeships/cards/mechatronics-technician.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
           Mechatronics Technicians have a combined skill set and can handle mechanical and electrical tasks and therefore a highly involved with maintaining automated equipment such as robots and other state-of-the-art machinery.
        </p>
        <p>
           Mechatronics technicians apply their knowledge of engineering to solve technical problems and maintain automated mechanical equipment. This may entail installing, inspecting, troubleshooting and repairing electrical, electronic and mechanical components. 
        </p>
        <p>
 
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
            <!-- <a
              class="btn btn-md btn-primary ga-click-event"
              href="#"
              role="button"
              ga-label="webdev"
              ga-category="requestSyllabus"
              data-toggle="modal"
              data-target="#modal--requestSyllabus--webdev"
            >
              <i class="fas fa-cloud-download-alt"></i> Download Syllabus
            </a> -->
          </h4>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Basic Electrical & Their Components
                </h5>
                <div class="series-outline-details text-muted pt-2">
                Install electrical sub-assemblies and components. 
               </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Motor Control</h5>
                <div class="series-outline-details text-muted pt-2">
                  Build and test control systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Wiring
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Test and adjust the functioning of mechatronics systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Power Distribution
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Measure and test electrical values.
                </div>
              </div>
            </li>
             <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Hydraulics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Test and adjust the functioning of mechatronics systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                 Pneumatics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Convert energy into mechanical motion.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                 Robotics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Maintain and program robotic systems on the production floor.
                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4">
        {% include locations/all.html %}
      </div>

    </div>

  </div>

  {% comment %}
  {% include eventbrite.html %}
  {% endcomment %}
</div>

<div class="container py-5">
  <div class="row">
    <!-- more info -->
    <div class="col-12">
      <h4 id="orbit-faqs" class="mb-3">FAQs</h4>
      <hr />

      <h4 class="mb-3">What are my tasks as a Mechatronics Technician?</h4>
      <p>
        <ul>
          <li>Process mechanical parts</li>
          <li>Assemble sub-assemblies and components into mechatronics system</li>
          <li>Install electrical sub-assemblies and components</li>
          <li>Troubleshooting</li>
          <li>Measure and test electrical values</li>
          <li>Install and test hardware and software components</li>
          <li>Build and test control systems</li>
          <li>Program and maintain mechatronics systems</li>
          <li>Assemble sub-assemblies and components into machines and systems</li>
          <li>Assemble and dismantle machinery, systems and plants, transport and secure</li>
          <li>Test and adjust the functioning of mechatronics systems</li>
          <li>Commission and operate mechatronics systems</li>
          <li>Hand over plants, instruct users in their operation and provide services</li>
          <li>Maintain and program robotic systems on the production floor</li>   
        </ul>
      </p>

      <h4 class="mb-2">In what kind of industries does a Mechatronics Technician work?</h4>
      <p>
        Due to their wide range of skills, Mechatronics Technicians are needed in a multitude of industries, including manufacturing, construction, agriculture and aerospace.
      </p>

      <h4 class="mb-2">What will be taught in the classroom section of the program?</h4>
      <p class="mb-4">
       Classroom training will be conducted at CCAC's Mechatronics Lab at their West Hill Campus every Friday (apprentices will be paid during classroom training) to give our apprentices a real college experience. The curriculum includes classes i.a. in basic electrical and their components, motor control, wiring, power distribution, hydraulics, pneumatics and robotics.
      </p>

      <h4 class="mb-3">What are some successfull skills that can be gained from signing up for this program?</h4>
      <p>
        <ul>
          <li>Think conceptually and logically</li>
          <li>Program PLCs by utilizing technical charts and troubleshoot errors</li>
          <li>Effectively plan and verify work processes while checking and evaluating results</li>
        </ul>
      </p>

      <h4 class="mb-3">What certification do I get upon completion?</h4>
      <p>
        Upon completion the Mechatronics Technician Apprentices receive:
      </p>
      <ul>
          <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
          <li>Mechatronics Technician Certificate from CCAC</li>
          <li>Associates degree from CCAC</li>
          <li>Apprenticeship Certificate from the DIHK</li>
        </ul>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
          Schedule Call
        </button>
      </div>
    </div>
  </div>

</div>
