---
layout: default
title: Mechatronics Technician
permalink: /apprenticeships/mechatronics-technician
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: mechatronics
testimonials: false
photos-loop: "photos-mech"
---

<div class="container-fluid m-0 bg-white">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb bg-white">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/">Home</a></li>
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page"><a href="/apprenticeships#four-gacc-apprenticeships">Apprenticeships</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="h1 text-center m-3">{{ page.title }} </div>
</div>
</div>

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">
     
    {% include apprenticeships/cards/mechatronics-technician.html %}
  
    <div class="col-md-8 order-md-1">
      <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">Advanced technology is rapidly becoming integrated into manufacturing systems in Western Pennsylvania and the United States. Today's facilities are not only computerized - many are interconnected to other plants and factories around the globe, and are expected to respond in near-real time to fluctuations in supply chain and logistics. While strong mechanical and electrical skills are still valued, employers have reported critical demand for technicians who have experience with artificial intelligence, data analytics, the Internet of Things and cyber-physical systems.
        </p>
        <p>
           Mechatronics technicians apply their knowledge of engineering to solve technical problems and maintain automated mechanical equipment. This may entail installing, inspecting, troubleshooting and repairing electrical, electronic and mechanical components.
        </p>
      <div class="col-md-12 px-0">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Curriculum</span>
          <!-- <a
            class="btn btn-md btn-primary ga-click-event"
            href="#"
            role="button"
            ga-label="webdev"
            ga-category="requestSyllabus"
            data-toggle="modal"
            data-target="#modal--requestSyllabus--webdev"
          >
            <i class="fas fa-cloud-download-alt"></i> Download Syllabus
          </a> -->
        </h4>

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
                Basic Electrical & Their Components
              </h5>
              <div class="series-outline-details text-muted pt-2">
              Install electrical sub-assemblies and components. 
             </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">Motor Control</h5>
              <div class="series-outline-details text-muted pt-2">
                Build and test control systems.
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
                Wiring
              </h5>
              <div class="series-outline-details text-muted pt-2">
                Test and adjust the functioning of mechatronics systems.
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
                Power Distribution
              </h5>
              <div class="series-outline-details text-muted pt-2">
                Measure and test electrical values.
              </div>
            </div>
          </li>
           <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
                Hydraulics
              </h5>
              <div class="series-outline-details text-muted pt-2">
                Test and adjust the functioning of mechatronics systems.
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
               Pneumatics
              </h5>
              <div class="series-outline-details text-muted pt-2">
                Convert energy into mechanical motion.
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h5 class="my-0">
               Robotics
              </h5>
              <div class="series-outline-details text-muted pt-2">
                Maintain and program robotic systems on the production floor.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  </div>
  {% include apprenticeships/faqs/faq-mechatronics.html %}
  {% include apprenticeships/sliders/photos-mech.html %}
  {% include modals/call-connect.html %}

