---
layout: default
title: Sales Engineer | Apprenticeship
permalink: /instruction/orbits/python
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: sales-engineering
testimonials: true
---

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include apprenticeships/cards/sales-engineering.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
          The Sales Engineer Program is one of the four modules of our registered Dual Apprenticeship program. It is a very sophisticated and popular module in Germany as almost every big to middle-sized company trains apprentices in this occupation.
        </p>
        <p>
          Our program provides a core understanding of a business organization and the markets it is acting in, with a huge emphasizes on building marketing and sales related skills. On top of the business-related knowledge all apprentices receive fundamental skills in manufacturing processes and production management to give them the technical background they need to pitch a sale or convince buyers with their problem-solving strategy with technical issues.
        </p>
        <p>
          With this holistic skill set a sales engineer forms a bridge between the customer and the engineering or R&D department of a company as he or she becomes an expert about customer needs and preferences and can determine how products and services could be modified to suit those needs.
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
              <!-- <a
                class="btn btn-md btn-primary ga-click-event"
                href="#"
                role="button"
                ga-label="webdev"
                ga-category="requestSyllabus"
                data-toggle="modal"
                data-target="#modal--requestSyllabus--javascript"
              >
                <i class="fas fa-cloud-download-alt"></i> Download Syllabus
              </a> -->
          </h4>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Business Administration
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Learn how to run businesses effectively, efficiently and profitably.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Production Management
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Learn the process of managing the activities of a business to produce desired outcomes for products and services. 
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Fundamental Skills in Manufacturing
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Find out all the basic skills you need to know in order to be successful in manufacturing.
                </div>
              </div>
          </ul>

          <p>
            <b>Note:</b> Important <a class="ga-click-event" ga-label="legal info" ga-category="instruction" href="#anchor--legalinformation">legal information for participants</a>.
          </p>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4">
        {% include locations/all.html %}
      </div>
      <div class="col-md-7">
        {% include membership-options.html %}
      </div>
    </div>

  </div>

  {% comment %}
  {% include eventbrite.html %}
  {% endcomment %}
</div>

{% include free-trial.html %}

<div class="container py-5">
  <div class="row">
    <!-- more info -->
    <div class="col-12">
      <h4 id="orbit-faqs" class="mb-3">FAQs</h4>
      <hr />

      <h4 class="mb-3">In what areas of a company does a Sales Engineer work?</h4>
      <p>
        During the Apprenticeship Program you will rotate through the different departments of your company beginning from Sales, Marketing and Finance to Inventory, Warehouse and Production side.
      </p>
      <p>
        The goal is it to get a profound understanding of all parts of the company and to understand core and supporting processes. This way you as Sales Engineer have the right skill set to successfully pitch a sale to a customer and to consult them with product variations and use cases for your product.
      </p>
      <p>
        In some cases the Sales Engineer is the link between the customer and the company's R&D department. With your insight to the customer's needs and demands you can be an active part in product development and adjustment processes.
      </p>

      <h4 class="mb-3">What does a Sales Engineer do?</h4>
      <p>
        <ul>
          <li>Identify and contact existing and new clients with sales potential</li>
          <li>Evaluates client leads to a needs analysis that will support the preparation of the customer visit or initial call</li>
          <li>Utilizes data from the needs analysis to develop & prepare customer focused sales pitches</li>
          <li>Demonstrates communication skills, active listening skills</li>
          <li>Presents and represents the company, brand, product and a solution to the client</li>
          <li>Demonstrates strategies such as: follow-up, cross-selling, up-selling techniques</li>
          <li>Ability to present the company, mission, brand and products appropriately</li>
          <li>Confers with customers & engineers to assess equipment needs and to determine system requirements</li>
          <li>Collaborates with sales teams to understand customer requirements and provides sales support</li>
          <li>Plans and modifies products to meet customer needs</li>
          <li>Help clients solve problems with installed equipment</li>
          <li>Helps in researching and developing new products</li>
          <li>Demonstrates ability to manage inventory, estimates demand for products and services and schedules orders</li>
          <li>Handles customer complaints</li>
        </ul>
      </p>

      <h4 class="mb-2">In what kind of industries does a Sales Engineer work?</h4>
      <p>
        Sales Engineers work in all kind of industries where a highly technical product needs to be sold to a customer. Companies in our cohort are: Foerster Instruments Inc., Z + F USA Inc. , WE EF Lighting and Leybold USA Inc. They produce and sell various products such as:
      </p>
      <p>
        <ul>
          <li>3D Laser Scanner that are used for architecture, inspection and other measurements</li>
          <li>Inspection equipment for pipes and other materials to detect falses</li>
          <li>Outdoor Lighting installations for buildings, some of them you can find in the skyscapers in Pittsburgh Downtown</li>
          <li>Vacuums that are part of the Hyperloop project in Switzerland</li>
        </ul>
      </p>

      <h4 class="mb-2">What about the classroom portion of the program?</h4>
      <p class="mb-4">
       Next to working full-time at one of the participating companies the apprentices will have classroom training at CCAC to obtain the Sales Engineer certificate as well as an associate’s degree.
The curriculum at CCAC includes business administration classes, but also production management and fundamental skills in manufacturing (MT1 certification).
      </p>
      <p>
        Apprentices will be paid while working and getting trained on the job as well as attending their college classes. Moreover, the companies pay the student’s college tuition, which makes our program an attractive alternative to pay for college education while simultaneously gaining significant work experiences.
      </p>
      <h4 class="mb-3">What certification do I get upon completion?</h4>
      <p>
       Upon completion the Sales Engineer Apprentices receive:
      </p>
        <ul>
          <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
          <li>Sales Engineer Certificate from CCAC</li>
          <li>Associates degree from CCAC</li>
          <li>Apprenticeship Certificate from the DIHK</li>
        </ul>
      <p>
     </p>
    </div>
  </div>

  {% include legal-info.html %}

  <div class="row">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
          Schedule Call
        </button>
      </div>
    </div>
  </div>

</div>
