---
layout: page
title: Sales EngineerT
permalink: /apprenticeships/sales-engineer-old
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: sales-engineering
testimonials: false
landingPage: true
image_graphic-slider: "photos-sales_eng"
---

<div class="container-fluid m-0 bg-white">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb bg-white">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/">Home</a></li>
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page"><a href="/apprenticeships#four-gacc-apprenticeships">Apprenticeships</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="h1 text-center m-3">{{ page.title }} </div>
</div>

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">
      {% include apprenticeships/cards/sales-engineering.html %}
    
    
  <div class="col-md-8 order-md-1">
    <h4 class="mb-2 text-muted">Overview</h4>
      <p class="mb-4">
        The Sales Engineer Program is one of the four modules of our registered Dual Apprenticeship program. It is a very sophisticated and popular module in Germany as almost every big to middle-sized company trains apprentices in this occupation.
      </p>
      <p>
        Our program provides a core understanding of a business organization and the markets it is acting in, with a huge emphasizes on building marketing and sales related skills. On top of the business-related knowledge all apprentices receive fundamental skills in manufacturing processes and production management to give them the technical background they need to pitch a sale or convince buyers with their problem-solving strategy with technical issues.
      </p>
      <p>
        With this holistic skill set a sales engineer forms a bridge between the customer and the engineering or R&D department of a company as he or she becomes an expert about customer needs and preferences and can determine how products and services could be modified to suit those needs.
      </p>
<br />

  <div class="col-md-12 px-0">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Curriculum</span>
        <!-- <a
          class="btn btn-md btn-primary ga-click-event"
          href="#"
          role="button"
          ga-label="webdev"
          ga-category="requestSyllabus"
          data-toggle="modal"
          data-target="#modal--requestSyllabus--javascript"
        >
          <i class="fas fa-cloud-download-alt"></i> Download Syllabus
        </a> -->
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">
            Business Administration
          </h5>
          <div class="series-outline-details text-muted pt-2">
            Learn how to run businesses effectively, efficiently and profitably.
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">
            Production Management
          </h5>
          <div class="series-outline-details text-muted pt-2">
            Learn the process of managing the activities of a business to produce desired outcomes for products and services. 
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h5 class="my-0">
            Fundamental Skills in Manufacturing
          </h5>
          <div class="series-outline-details text-muted pt-2">
            Find out all the basic skills you need to know in order to be successful in manufacturing.
          </div>
        </div>
    </ul>
  </div>
<!--end curricula-->
</div>

</div>
</div>
</div>

{% include apprenticeships/faqs/faq-sales-eng.html %}
{% include apprenticeships/sliders/photos-sales_eng.html %}
{% include modals/call-connect.html %}
