<div class="container mt-4" id="nondiscrimination">
<h4>Non-discrimination</h4>
<div class="flex-row">
    <p>Pittsburgh Chapter of the German American Chamber of Commerce (GACCPIT) will not discriminate against apprenticeship applicants or apprentices based on RACE, COLOR, RELIGION, NATIONAL ORIGIN, SEX (INCLUDING PREGNANCY AND GENDER IDENTITY), SEXUAL ORIENTATION, GENETIC INFORMATION, OR BECAUSE THEY ARE AN INDIVIDUAL WITH A DISABILITY OR A PERSON 40 YEARS OLD OR OLDER. GACCPIT will take affirmative action to provide equal opportunity in apprenticeship and will operate the apprenticeship program as required under Title 29 of the Code of Federal Regulations, part 30.</p>
</div>
</div>
