{% unless page.hide_footer %}
  <footer class="border-top--black-1 py-5 d-print-none">
    <div class="container">
      <div class="d-flex flex-row">
        <div class="col-sm-4 col-md-4">
          <a href="/" title="Upstream Coding PGH" class="text-decoration-none">
            <img height="24" class="mb-3" src="/assets/img/gacc-pitt2.png" />
          </a>
          <br />
          <small class="d-block mb-3 text-muted">
            &copy; GACC Pittsburgh
            <br />
            All Rights Reserved.
            <br />
            <!--<a
              class="text-muted ga-click-event"
              href="https://turbineworkforce.com?track=gaccpitt"
              title="Powered by Turbine Workforce"
              ga-label="Powered by Turbine Workforce"
              ga-category="footer"
            >
              Powered by Turbine Workforce
            </a>-->

            <div class="footer-social">
              <strong>Follow @GACCPIT</strong>
              <br />
              <a class="text-muted ga-click-event" ga-label="instagram" ga-category="btmNav" href="https://www.instagram.com/gaccpit/" target="_blank" title="GACCPIT Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="text-muted ga-click-event" ga-label="facebook" ga-category="btmNav" href="https://www.facebook.com/GACCPIT" target="_blank" title="GACCPIT Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a class="text-muted ga-click-event" ga-label="twitter" ga-category="btmNav" href="https://twitter.com/GACCPIT" target="_blank" title="GACCPIT Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="text-muted ga-click-event" ga-label="linkedin" ga-category="btmNav" href="https://www.linkedin.com/company/german-american-chamber-of-commerce-pittsburgh-chapter/" target="_blank" title="GACCPIT LinkedIn">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </small>
        </div>
        <!--<div class="col-md-4">
          <h5>Instruction</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted ga-click-event" ga-label="Get Started for Free" ga-category="btmNav" href="/membership">
                Get Started for Free
              </a>
              <a class="text-muted ga-click-event" ga-label="Audit Class" ga-category="btmNav" href="/audit-class">
                Audit a Class
              </a> 
            </li>
            <li>
              <a class="text-muted ga-click-event" ga-label="Membership" ga-category="btmNav" href="/membership">
                Become a Member
              </a>
            </li>
            <li>
              <a class="text-muted ga-click-event" ga-label="Series" ga-category="btmNav" href="/instruction">
                Learn to Code
              </a>
            </li>
            <li>
              <a class="text-muted ga-click-event" ga-label="private training" ga-category="btmNav" href="/private-training">
                Private Training
              </a>
            </li>
          </ul>
          <br />

          <h5>Press</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a
                title="Just Get Started | Alan Mabry & Sean Bailey, Co-Founders of Upstream Coding"
                class="text-muted ga-click-event"
                ga-label="Proprietors of Pittsburgh Podcast"
                ga-category="btmNav"
                href="/2020/10/30/proprietors-of-pittsburgh-podcast.html"
              >
                Proprietors of Pittsburgh Podcast
              </a>
            </li>
            <li>
              <a
                title="Upstream Coding finds new uses for its digital learning management system"
                class="text-muted ga-click-event"
                ga-label="Pittsburgh Business Journal"
                ga-category="btmNav"
                href="/2020/12/16/pittsburgh-business-upstream-coding-finds-new-uses-for-digital-learning-management-system.html"
              >
                Pittsburgh Business Journal
              </a>
            </li>
          </ul>
        </div>-->

        <div class="col-sm-4 col-md-4">
          <h5>Company</h5>
          <ul class="list-unstyled text-small">
         <!--<li>
              <a class="text-muted ga-click-event" ga-label="We're Hiring" ga-category="btmNav" href="/hiring">We're Hiring!</a>
            </li>-->
            <!-- <li>
              <a class="text-muted ga-click-event" ga-label="locations" ga-category="btmNav" href="/upstream-coding-bootcamp-pittsburgh">Locations</a>
            </li> -->
            <li>
              <a class="text-muted ga-click-event" ga-label="contact" ga-category="btmNav" href="/about#anchor--contactus">Contact</a>
            </li>
          </ul>
          <br />
          <h5>Legal</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted ga-click-event" ga-label="privacy" ga-category="btmNav" href="/tos#anchor--privacypolicy">Privacy Policy</a>
            </li>
            <li>
              <a class="text-muted ga-click-event" ga-label="tos" ga-category="btmNav" href="/tos">Terms of Service</a>
            </li>
          </ul>
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted ga-click-event" ga-label="about" ga-category="btmNav" href="/about">About Us</a>
              </li>
            </ul>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted ga-click-event" ga-label="about" ga-category="btmNav" href="/about#nondiscrimination">Non-Discrimination</a>
              </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          {% include components/img-logo-row.html %}
          {% include subscribe-newsletter.html %}
        </div>
      </div>
      <p class="mx-auto secondary small float-right"><em>built by <a href="https://turbineworkforce.com/" target="_blank" rel="noopener noreferrer">Turbine Workforce</a></em></p>
    </div>
    </div>
      </div>
    </div>
  </footer>
{% endunless %}
