<div class="section section--footer-signup pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div id="mc_embed_signup_col" class="col-margin-auto col-sm-8 col-md-8 col-lg-6">
        <div id="mc_embed_signup">
          <form action="https://upstreamcoding.us19.list-manage.com/subscribe/post?u=40b51b14163bdf5e1b46c84d8&amp;id=74a641ac83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>
                <span class="text-muted">
                  Subscribe for our latest news, upcoming events and workshops.
                </span>
              </h2>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
              <!-- prevent bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_40b51b14163bdf5e1b46c84d8_74a641ac83" tabindex="-1" value="" />
              </div>
              <div class="clear">
                <input
                  type="submit"
                  value="Subscribe"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="btn btn-lg btn-primary"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        id="mc_embed_signup_success"
        class="text-center col col-margin-auto"
        style="display: none;"
      >
        <h2>
          Thank you for subscribing!
        </h2>
      </div>
    </div>
  </div>
</div>
