<div class="section section--index-connect">
  <div class="container">
    <div class="row text-center">
      <div class="col col-sm-10 col-lg-6">
        <img
          height="24"
          class="mb-3"
          src="{{ site.s3bucket }}/images/icon.png"
        />
        <h1>
          Get Started
        </h1>
        <h5>
          Rolling admissions, join today.
        </h5>
        <h3 class="text-muted mb-4">
          Become a Starter Member to <br /> attend <a href="/instruction#web-foundations" target="_blank">Web Foundations</a> for free.
        </h3>
        <a
          class="ga-click-event btn btn-lg btn-primary"
          href="https://app.turbinelms.com/login/upstreamcoding?action=signup&userLocationId=6Mrrk5VeyUKjs0ROPaCIWJ&hideLocation=true"
          ga-label="Free Trial CTA"
          ga-category="index"
        >
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>
