<div class="container-fluid bg-light py-5 border-bottom">
  <div class="d-flex justify-content-center m-auto" style="width:80%">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 tech-skills no-max-height">
        <img src="{{ site.s3bucket }}/images/ccac-christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" />
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="mb-3">
          <h1 class="h2">
            Modern Web Development
          </h1>
          <h4 class="text-muted">
            Upskill Certificate Program
          </h4>
          <h5 class="d-sm-none d-md-block">
            Build a strong foundation for a career in technology and a post-pandemic global economy by earning a certificate in frontend web development.
          </h5>
        </div>

        <div class="my-2">
          <a
            role="button"
            class="btn btn-md btn-primary"
            href="/instruction/series/modern-web-development--coding-bootcamp--pittsburgh"
            title="Learn more"
          >
            Learn more
          </a>
          <!-- <a class="btn btn-md btn-secondary ga-click-event" href="#" role="button" ga-label="webdev" ga-category="requestSyllabus" data-toggle="modal" data-target="#modal--requestSyllabus--webdev">
            <i class="fas fa-cloud-download-alt"></i> Syllabus
          </a>-->
          <a
            class="btn btn-md btn-link ga-click-event"
            href="{{ site.s3bucket }}/docs/Modern+Web+Development+-+12+Weeks.pdf"
            ga-label="webdev"
            ga-category="requestSyllabus"
          >
            <i class="fas fa-cloud-download-alt" aria-hidden="true"></i> Syllabus
          </a>
          <!--<span class="ml-2">
            ...
          </span>-->
        </div>

      </div>
    </div>
  </div>
</div>
