<!--<div class="alert alert-warning alert-banner" role="alert">
  <h4 class="alert-heading mb-2">
    We are open, learn online with us!
  </h4>
  <hr />
  <h5 class="mb-1 font-weight-bold">
    <i class="fas fa-virus"></i> Coronavirus Response
  </h5>
  <p class="lead">
    We invite those who are without income due to COVID-19 to learn to code for free for 2 months<b>*</b>.
  </p>
  <div class="my-2">
    <a role="button" class="btn btn-md btn-secondary" href="/apply?promo=together" title="Apply">
      Learn more
    </a>
    <a class="btn btn-md btn-secondary ga-click-event" href="#" role="button" ga-label="webdev" ga-category="requestSyllabus" data-toggle="modal" data-target="#modal--requestSyllabus--webdev">
      <i class="fas fa-cloud-download-alt"></i> Syllabus
    </a>
    <small class="ml-2">
      <b>*</b>Restrictions apply, click for details.
    </small>
  </div>
</div>-->
