<div class="card p-2 py-3 p-md-3 py-md-4">
  <h4 id="enrollment-process">
    <mark>Enrollment Process</mark>
  </h4>
  <p>
    Coding Orbit enrollment requires membership.
  </p>

  <ol class="m-0">
    <li>
      <a href="/membership" title="Become a Member">Become a member</a>.
    </li>
    {% if page.course_slug == 'mechatronics' %}
      <li>
        Complete prerequisites in the <a href="{{ site.turbine_app_url }}/login/upstreamcoding" title="Member Portal">Member Portal</a>.
      </li>
    {% else %}
      <li>
        Enroll in this Orbit through the <a href="{{ site.turbine_app_url }}/login/upstreamcoding" title="Member Portal">Member Portal</a>.
      </li>
    {% endif %}
  </ol>

  {% if page.course_slug != 'train-the-trainer' %}
    <hr class="my-3" />
    <div class="d-flex justify-content-between align-items-center">
      <a role="button" class="btn btn-lg btn-primary mr-2" href="/membership?series={{ page.course_slug }}" title="Enroll">
        Enroll
      </a>

      <div>
        Most members spend {{ page.membership_duration }} in this Class.
      </div>
    </div>
  {% endif %}

  <hr class="my-3" />

  <p>
    Most members spend {{ page.membership_duration }} in this Class.
  </p>

  <p class="mb-0">
    Check our <a class="scroll-to" scroll-top="#orbit-faqs" href="" title="Check our Frequently Asked Questions">FAQs</a> for more information about this Orbit.
  </p>

  <hr class="my-3" />

  {% include covid19-online-alert.html %}
</div>
