<div class="row m-5">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4 mx-auto">
        <h5></h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
        Connect with an Advisor
        </button>
      </div>
    </div>
  </div>