<div class="section section--student-portal">
  <div class="container">
    <h2 class="featurette-heading">
      <small>
      Build Job Skills In-house & Retain Talent
      </small>
    </h2>
    
    <div class="row text-center">
      
      <div class="col-sm-12">

        Apprenticeships Help Employers:
## • create a sustainable pipeline of skilled talent
## • Attract more young people to manufacturing careers
## • Invest in training to build employee loyalty



the apprentice receives on the job training (OJT)

Exclusive technology platform to train well-rounded technicians and objectively measure the skills gained by each apprentice.

        <!--<div style="padding:55.38% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/704633367?h=638e343223&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Actionable Mechatronics Pathway"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->

         </div>
  </div>
</div>
