<div class="section section--student-portal">
  <div class="container">
    <div class="row text-center">
      <div class="col col-sm-12">

        <img src="{{ site.s3bucket }}/images/student-portal--cool-shades.jpg" class="w-100" />

        <h2 class="featurette-heading">
          <small>
            We don't do Hello World!
          </small>
        </h2>
        <h3 class="w-75 m-auto">
          <span class="text-muted">
            Our member portal gets you up to speed on web fundamentals, no previous experience needed. Start building your portfolio of repos on day one.
          </span>
        </h3>
        <br />
        <br />
        <br />
    </div>
  </div>
</div>
