<div class="row">
    <div class="col">
    <a
    href="https://visitor.r20.constantcontact.com/manage/optin?v=001a9Ty4MzTba-tdAEZjZE3-_Bv6AjMuEl0djUwrhmhLU54iDKIzOS4ZcJCz0LfiIdZJMIiDl5hhsxUVKAU94i9VZFVn5myNo7Y31adApmJwTA%3D" 
    target="_blank"
    rel="noopener noreferrer"
    class="">
    <button
          class="btn btn-outline-primary ga-click-event"
          ga-label="{{ page.course_slug }}"
          ga-category="subscribeNewsletter"
        >
  <span id="newsletter-subscribe-btn"> Subscribe to our Newsletter</span>
      </button>
    </a> 
    </div>
  </div>