<hr />

<div class="section section-testimonials testimonials-series">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title text-center py-5">
          See What <strong>Our skillers</strong> Say About Us
        </h2>
      </div>
    </div>
  </div>

  <div class="section--background py-5">
    <div class="container">
      <div class="row">
        <!-- testimonial 1 -->
    <div class="col-sm-12 col-lg-10 m-auto">
      <div class="slick-testimonials">
        {% for words in site.data.pre-app-testimonials %}
          <div class="card h-100 hover p-3 p-sm-5 mb-5">
            <!--<img src="{{ words.src }}" class="testimonial-image" />-->
            <br />
            {{ words.name }}
            <p>
            {{ words.company }}
            </p>
            <p>
              {{ words.occupation }}
            </p>
            <p>
              {{ words.projects }}
            </p>
            <p>
              {{ words.enviro }}
            </p>
            <p>
              {{ words.skillsDev }}
            </p>
            <p>
              {{ words.future }}
            </p>
           <!--<p class="text-right pr-5">
              {{ words. }}
            </p>-->
          </div>
          {% endfor %}
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
