<hr />

<div class="section section-testimonials testimonials-series">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title text-center py-5">
          See What <strong>Our Members</strong> Say About Us
        </h2>
      </div>
    </div>
  </div>

  <div class="section--background py-5">
    <div class="container">
      <div class="row">
        <!-- testimonial 1 -->
        <div class="col-sm-12 col-lg-6 m-auto">

          <div class="card h-100 no-hover p-3 p-sm-5 mb-5">
            <img src="{{ site.s3bucket }}/images/john-erickson.jpeg" class="testimonial-image" />
            <br />
            <p>
              I joined Upstream Coding's Modern Website Development Coding Series already having a solid foundation in web development, however regardless of experience my time at Upstream Coding has been both rewarding and challenging.
            </p>
            <p>
              Learners are exposed to a wealth of knowledge in small, digestible chunks, ranging from, but not limited to: HTML, CSS, Bootstrap, Responsive Design, JavaScript, jQuery, GitHub, Google Chrome's Developer Tools, and more.
            </p>
            <p>
              The curriculum Upstream presents provide a necessary strong foundation for anyone looking to become a developer and what better way to learn than to work on several projects for real, established companies.
            </p>
            <p>
              The small classroom environment provides a great opportunity to both interact and get personalized attention. Speaking of which Upstream's instructors and TAs are not only knowledgeable, but are both personable and charismatic.
            </p>
            <p>
              I also appreciate how involved Upstream's instructors are when discussing members outcome, providing several opportunities throughout the course to speak with people in tech, recruiters, and potential employers.
            </p>
            <p>
              I would absolutely recommend Upstream Coding's Modern Website Development Coding Series for anyone looking to gain a strong foundation in development.
            </p>
            <p class="text-right pr-5">
              - John E.
            </p>
          </div>

        </div>

        <!-- testimonial 2 -->
        <div class="col-sm-12 col-lg-6 m-auto">

          <div class="card h-100 no-hover p-3 p-sm-5 mb-5">
            <img src="{{ site.s3bucket }}/images/michael-hilton.jpeg" class="testimonial-image" />
            <br />
            <p>
              I consider it an honor to be a member of the inaugural Upstream Coding Modern Web Dev class. 6 weeks ago I didn't even know what HTML was. Now, however, I am (slowly but surely) building my own websites.
            </p>
            <p>
              The course was a nice blend of structured and adaptive. If we needed more time to grasp a concept, we were given the extra time and attention. Beyond code we also covered getting a Portfolio together, Resume/Interviewing, had a industry leader as a guest speaker, and have been linked up with potential internship opportunities.
            </p>
            <p>
              There were some growing pains associated with being the first ones through, but as anyone who has ever started an enterprise of any sort knows, these type things are unavoidable. I am confident Alan and Josh and company will take those lessons learned and the next cohort will be even better.
            </p>
            <p>
              I think the vital information worth passing along in this review is that if you choose to take a course with Upstream, they are committed to you learning the material. I have had instructors stay late after class. They have even made a VC on both the weekends and weeknights when I was stuck on a bit of code. They continue to offer me their advice and support as the class ends.
              I believe they have given me the base of knowledge I needed to eventually get my foot in the door as a Front End Web Dev. Can't wait for Modern Web Dev course 2!
            </p>
            <p class="text-right pr-5">
              - Michael H.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
