<div class="section section-testimonials testimonials-series">
  <div class=" py-5">
    <div class="container">
      <div class="row">
        <!-- testimonial 1 -->
    <div class="col-sm-12 col-lg-10 m-auto">
      <div class="slick-testimonials">
        {% for words in site.data.pre_app_testimonials %}
          <div class="card h-100 hover p-3 p-sm-5 mb-5">
            <!--<img src="{{ words.src }}" class="testimonial-image" />-->
            <br />
         <b class="h3 text-center">{{ words.name }}</b>
         <b>Company</b>
         <p>
            {{ words.company }}
            </p>
            <b>Occupation</b>
            <p>
              {{ words.occupation }}
            </p>
            <!--<b>Projects</b>
            <p>"{{ words.projects }}"
            </p>
            {% if words.enviro %}
            <b>Environment</b>
            <p>
              "{{ words.enviro }}"
            </p>-->
            {% if words.skillsDev %}
            <p>
              "{{ words.skillsDev }}"
            </p>
            {% endif %}
            <!--{% if words.future %}
            <b>Future</b>
            <p>
              "{{ words.future }}"
            </p>
            {% endif %}
           <p class="text-right pr-5">
              {{ words. }}
            </p>-->
          </div>
          {% endfor %}
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
