<div class="container-fluid">
<div id="trifecta-card-deck">
    <div>
        <h1 class="text-center">How Apprenticeships Work</h1>
    </div>
<div class="card-deck responsive-container">
    <div class="card">
        <img src="/assets/img/icons/talent.png" class="mx-auto p-3" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center text-center">In-house Skills Development</h5>
        <p class="card-text">Employers enabled to drive skills development to meet immediate workforce needs and along industry-based competencies.</p>
        <em>May include up to 6,000 hours of On-the-Job Training (OJT)</em>.
      </div>
    </div>
    <div class="card">
        <img src="/assets/img/icons/ojt.png" class="mx-auto p-3" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center">Related Technical Instruction</h5>
        <p class="card-text">Rigorous course-formatted learning delivered by GACC's exclusive network of Community Colleges, industry-recognized course providers and skills development customized to meet employers' needs.</p>
      </div>
    </div>
    <div class="card">
        <img src="/assets/img/icons/certificate.png" class="mx-auto p-3" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center">Industry-recognized Certifications</h5>
        <p class="card-text">
          Apprentices who complete one of the four GACC programs earn the nationally recognized designation of journeyperson with a number of exclusive industry certificates and German credentials.
        <ul><em>Journeyperson Certification | PA Departments of Labor</em><br>
            <em> <a href="https://www.msscusa.org/certification/production-certification-cpt/" target="_blank" rel="noopener noreferrer">Certified Production Technician (CPT)</a></em><br>
            <em>DiHK German Certification</em>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
</div>