
<div class="card-deck">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Build Skills & Talent</h5>
        <p class="card-text">On the Job Training - Competency-based program or 4000-6000 hours.</p>

      </div>
    </div>
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Technical Instruction</h5>
        <p class="card-text">Coordination with Community Colleges</p>

      </div>
    </div>
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Certifications</h5>
        <p class="card-text">DOL Journeyman Certification, Manufacturing Skill Standards Council
            (MSSC), Certified Production Technician (CPT); DiHK German Certification in Polymer Technician (Verkehrsmechaniker in Kunstoff und Kauschuktechnik</p>
        
      </div>
    </div>
  </div>