<div id="trifecta-card-deck">
    <div>
        <h1 class="text-center">Apprenticeships Work</h1>
    </div>
<div class="card-deck responsive-container">
    <div class="card">
        <img src="/assets/img/icons/talent.png" class="mx-auto" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center text-center">Build Skills & Talent</h5>
        
        <p class="card-text">Competency-based program or up to 4000-6000 hours of On-the-Job Training.</p>

      </div>
    </div>
    <div class="card">
        <img src="/assets/img/icons/ojt.png" class="mx-auto" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center">Technical Instruction</h5>
        <p class="card-text">Instruction by Community Colleges & Custom Trainings</p>

      </div>
    </div>
    <div class="card">
        <img src="/assets/img/icons/certificate.png" class="mx-auto" width="50%" height="auto" alt="">
      <div class="card-body">
        <h5 class="card-title text-center">Certifications</h5>
        <p class="card-text">
        <ul><span>Journeyman Certification | <em>Department of Labor</em></span><br>
            <span>Certified Production Technician (CPT) | <em>Manufacturing Skill Standards Council</em></span><br>
            <span>DiHK German Certification</span>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>