---
layout: default
permalink: /about
testimonials: false
newsletter: false
title: About
---
<div class="page-about">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item carousel-item-0 active active"
        style="background-image:url(/assets/img/turbine-screenshots/mechatronics-ccac.jpeg)"
      >
      <div class="container">
        <div class="carousel-caption">
          <h1>
About Us
          </h1>
        </div>
      </div>
    </div>

    </div>
  </div>

  <div class="container">

    <div class="row title-copy">
      <a name="anchor--aboutus"></a>
      <div class="col">
        <h2 class="featurette-heading">
          About Us
        </h2>
        <p>
          The German American Chamber of Commerce, Pittsburgh Chapter (GACC PIT) was founded in 2015 to promote and support bilateral trade between Germany and the U.S. We are a private, non-profit organization and serve as the official representative of German trade in Western Pennsylvania. We are part of an international network composed of 140 German foreign chambers of commerce and government offices in 92 countries.
          Members enjoy the benefits of networking events, a professional team with transatlantic expertise, visibility for their brand on our digital and print channels, exclusive invitations to events and conferences, publications and databases, visa and legal services, career support, and more.
        </p>
      
      </div>
    </div>

    <!--<div class="row title-copy">
      <a name="anchor--mission"></a>
      <div class="col">
        <h2 class="featurette-heading">
          Mission
        </h2>
        <p>
          We've worked as front-end engineers, web production managers and entrepreneurs. We recognized that the learn-to-code options in Pittsburgh missed the mark. We decided to start a good business that combined our experiences and helped people improve their lives. We started Upstream.
        </p>
      </div>
    </div>-->

    <div
      class="jumbotron p-6 mt-5 text-white bg-dark jumbotron--with-quote"
      style="background-image:url(https://images.unsplash.com/photo-1619697940685-5c224f34dfbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80)"
    >
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col">
            <h1 class="display-4 font-italic">
              “Software developer jobs are expected to grow 17% from 2014 till 2024.”
            </h1>
            <p class="lead my-3 text-align-right">
              U.S. Bureau of Labor Statistics
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row title-copy">
      <a name="anchor--community"></a>
      <div class="col">
        <h2 class="featurette-heading">
          Dual Apprenticeship system
        </h2>
        <p>
          In addition to the mentioned services, we are implementing the German Dual Apprenticeship system in Pittsburgh and can currently offer four different training programs. The goal is to train high school students as well as other employees who already work in the company, through the apprenticeship program and to provide them with the skills and abilities needed in the company. It is a very good alternative to avoid the high costs of studying as companies pay for the tuition costs during the training period.
        </p>
      </div>
    </div>

    <div id="featurette--locations" class="featurettes-container">
      <h3 class="label-primary mt-5">
        Locations
      </h3>

      <hr class="mt-2 mb-4" />
      <a name="anchor--locations"></a>

      <div class="featurettes">
        <div class="row featurette mb-0">
          <div class="col-md-5">
            <img
              class="featurette-image img-fluid mx-auto"
              src="/assets/img/pgh-city-scape.jpg"
              alt="Lawrenceville"
            />
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">
              <small>
                Pittsburgh
              </small>
              <span class="text-muted">
                Downtown
              </span>
            </h2>
            {% include address-plug.html %}
          </p>

          <p>
            <a
              class="btn btn-sm btn-secondary ga-click-event"
              href="https://g.page/gaccpit?share"
              role="button"
              title="Google Maps"
              ga-label="Google Maps - GACCPIT Office Location"
              ga-category="locations"
            >
              Google Maps
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div
  id="anchor--contactus"
  class="container mb-5"
>
  <div class="row">
    <div class="col">
      <h3>
        Contact Us
      </h3>
      <hr class="mt-2 mb-4" />
      <div>
        {% include contact/form.html %}
      </div>
    </div>
  </div>
</div>
