{% assign num_slides = section.carousel_slides.size %}
{% assign counter_indicators = 0 %}
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    {% if num_slides > 1 %}
      <ol class="carousel-indicators">
        {% for carousel_slide in site.data.ra-testimonials %}
          <li data-target="#myCarousel" data-slide-to="{{ counter_indicators }}"></li>
          {% assign counter_indicators = counter_indicators | plus: 1 %}
        {% endfor %}
      </ol>
    {% endif %}
    <div class="carousel-inner">
      {% assign counter_slide = 0 %}
      {% for carousel_slide in site.data.ra-testimonials %}
        <div class="carousel-item {% if counter_slide == 0 %}active{% endif %} bg-dark">
          <div class="container">
            <div class="mb-1 mt-3">
              <div class="carousel">
                <div class="d-flex flex-row justify-content-center">
                <div class="d-flex flex-column align-items-center">
                  <i class="fas fa-quote-left fa-5x px-3 text-white"></i>
                    <h2 class="text-center text-white" locale="{{ page.locale }}">
                        <span class="usa-hero-callout-alt">{{ carousel_slide.name }}</span>
                      </h2>
                      <h4 class="text-center text-white" locale="{{ page.locale }}">
                          <span class="emph text-center">{{ carousel_slide.company }}</span>
                        </h4>
                 <div class="text-white testy-text w-75">
                   {{ carousel_slide.quote }}
                 </div>
              </div>
            </div>
              </div>
              </div>
          </div>

        </div>
        {% assign counter_slide = counter_slide | plus: 1 %}
      {% endfor %}
    </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>