 <div class="container-fluid d-none d-md-block">
    <h2 class="text-center">GACC Apprenticeships in Action
  </h2>
  <div class="container-fluid">
  <div class="row mb-0">
      <div class="col-sm-12 col-md-12 p-1">
          <iframe id="gacc-locations-map-embed" src="https://www.google.com/maps/d/embed?mid=1rwG0SGwmoDeJr4-RiPAT9_-9R0e9Rl23&ehbc=2E312F"></iframe>
      </div>
     <!--<div class="col-sm-12 col-md-6">
        <div>
          <h2 class="text-right"> Region by Region</h2>
        <p class=" lead text-right">
        </p>
      </div>
    </div>-->
  </div>
</div>
</div>
