 <div class="container-fluid">
    <h2 class="text-center">GACC Apprenticeships 
  </h2>
  <div class="container-fluid">
  <div class="row mb-0">
      <div class="col-sm-12 col-md-6 p-1">
          <iframe id="gacc-locations-map-embed" src="https://www.google.com/maps/d/embed?mid=1rwG0SGwmoDeJr4-RiPAT9_-9R0e9Rl23&ehbc=2E312F"></iframe>
      </div>
      <div class="col-sm-12 col-md-6">
        <div>
          <h2 class="text-right"> Region by Region</h2>
        <p class=" lead text-right">
          The Dual Apprenticeship program include the skills and competencies required from the German IHK for the job profiles and modified into a two-year program to fit the U.S. market. GACC Apprenticeships are registered by the Pennsylvania Department of Labor and Industry, are approved by the Pennsylvania Apprenticeship and Training Council and the Federal Committee on Apprenticeship. GACC Apprentices are eligible to issue journeymen paper upon completion.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
