 <div class="featurettes">
  <div class="row featurette mb-0">
    <h2 class=" text-center">
  Developing a Skilled Workforce<br> Region by Region
  </h2>
  </div>
  <div class="row featurette mb-0">
      <div class="col-sm-12 col-md-6">
          <iframe id="gacc-locations-map-embed" src="https://www.google.com/maps/d/embed?mid=1rwG0SGwmoDeJr4-RiPAT9_-9R0e9Rl23&ehbc=2E312F"></iframe>
      </div>
      <div class="col-sm-12 col-md-6">
        <h1 class="">
          The German Dual Apprenticeship System
        </h1>
        <p class="float-right">
          The Dual Apprenticeship program include the skills and competencies required from the German IHK for the job profiles and modified into a two-year program to fit the U.S. market. GACC Apprenticeships are registered by the Pennsylvania Department of Labor and Industry, are approved by the Pennsylvania Apprenticeship and Training Council and the Federal Committee on Apprenticeship. GACC Apprentices are eligible to issue journeymen paper upon completion.
        </p>
      </p>
    </div>
  </div>
</div>
