<div class="jumbotron bg-light rounded pt-4 pb-1 pb-md-4">

  <!-- <h4 class="text-center">
    To <b>get started</b>, we recommend <b>auditing a class</b>.
  </h4> -->

  <h4 class="text-center">
  </h4>

  <div class="row d-flex">
    <div class="col-sm-12 col-md-3">
      <img src="{{ site.s3bucket }}/images/josh-and-alan.jpg" class="w-100" />
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="py-4 py-md-0">
        <h4>Upskilling for All</h4>
        <p>The manufacturing industry in particular is currently facing challenges such as:</p>
        <ul>
          <li>the loss of skilled workers due to retirements (baby boomer generation)</li>
            <li>structural problems in the education system (student debt, low attractiveness of careers in manufacturing)</li>
              <li>a high degree of flexibility in the US labor market. This contributes to the fact that the duration of employment of trained specialists in companies is much shorter compared to Germany: employees in the USA are much quicker prepared to change jobs.</li>
          </ul>
      </div>
    </div>
  </div>
  <div>

    <h4>Our Pre-Apprenticeship programs is geared towards seniors in High School and engages them with a paid internship and additional technical classroom education as a dual enrollment class. It ideally leads into in one of our four Apprenticeship programs after graduation.</h4>

    <h4>The Apprenticeship program gives high school graduates, but also employees already working in a company, the opportunity to benefit from the German-based dual vocational training concept, which merges classroom training at a local community with hands-on work experiences at a company.</h4>
    
  </div>
  <hr class="my-4">

  <div class="row">
    <!-- <div class="col-md-4 mb-5 mb-md-0">
      <h5>
        01. Audit a Class
      </h5>
      <p>
        Join us remotely to observe an Orbit class and experience our teaching style first-hand.
      </p>
      <a class="btn btn-primary btn-md" href="/audit-class" role="button">
        See Dates
      </a>
    </div> -->
    <div class="col-md-4 mb-5 mb-md-0">
      <h5>
        01. Get Started Today
      </h5>
      <p>
        Our Starter membership is for motivated individuals to learn to code for <b>FREE</b>. Join us remotely for live instruction in <a href="/instruction#web-foundations" target="_blank">Web Foundations</a> on Wednesday nights <code>7-9pm</code>.
      </p>
      <a class="btn btn-primary btn-md" href="/membership" role="button">
        Sign Up
      </a>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <h5>
        02. Upgrade and Save
      </h5>
      <p>
        Premium members can enroll in <a class="ga-click-event" ga-label="Web Development" ga-category="get-started" href="/instruction/orbits/web-development">Web Dev</a> at no addtional cost and save 50% off our entire catalog of courses. Continue to attend any purchased Orbit Course for as long as you're a premium member.
      </p>
      <a class="btn btn-primary btn-md" href="/membership" role="button">
        Membership Options
      </a>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
      <h5>
        03. Learn to Code
      </h5>
      <p>
        On-going live instruction sets the pace to build muscle memory and programtic thinking. Flex your dev skills with exercises and projects that help build your portfolio.
      </p>
      <a class="btn btn-primary btn-md" href="#development-paths" role="button">
        See Courses
      </a>
    </div>
  </div>

  <hr class="my-4">
</div>
