<div class="simple-header m-4">
  <div class="row">
    <h1>
      <i class="fas fa-tool"></i>
      GACC Apprenticeships
    </h1>
    <div class="text-white">
      GACC Apprenticeship Programs are an innovative and industry-led approach to job training and education. Benchmarked on the German Dual Education System, they are the gold standard of a practical educational model developed in conjunction with technology leaders. They generally combine practice, theory and work to train a globally competitive workforce. Companies get a tailored training program, greater employee loyalty and access to a high-quality candidate pool.
Our program has now expanded to include four different apprenticeship modules with twenty companies.</div>
  </div>
</div>
