<div class="container">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
         <h2>
            What is an Apprenticeship?
         </h2>
      </div>

        <div class="card-body">
          <p>
    Registered apprenticeship programs are structured, occupational training programs that combine On-The-Job training with related technical instruction (rigorous coursework) that increases an apprentice's skill
    level and ability to perform a kind of job effectively and safely and follows a clear wage scale that progressively increase over time or upon skill acquisition.
            </p>
<hr>
<p>          The Dual Apprenticeship program include the skills and competencies required from the German IHK for the job profiles and modified into a two-year program to fit the U.S. market.</p>
        </div>
    </div>
  </div>