<div id="whatIsapprenticeContainer" class="container m-5 mx-auto">
    <div class="card">
       
      <div class="card-header">
         <h2>
            What is an Apprenticeship?
         </h2>
      </div>
        
    <div class="card-body">
        <p> Registered apprenticeship programs are structured, occupational training programs that combine...
            <a class="" data-toggle="collapse" href="#whatIsapprenticeCollapse" role="button" aria-expanded="false" aria-controls="whatIsapprenticeCollapse"> <i class="fas fa-info-circle"></i>
            </a>
        <div class="collapse" id="whatIsapprenticeCollapse">
        <div class="card card-body" style="border: none;">
        <p class="lead">
            ...On-The-Job training with related technical instruction (i.e., coursework) with targeted goal to increases skill
            level and ability to perform skilled job effectively and safely.  Apprenticeships follow clear wage scales that progressively increase over time or upon skill acquisition.
        </p>
        <p>
            GACC administers four Registered Apprenticeships with <span class="emph">unique value add of the German Dual Education Model</span> and develops skills required by the Association of German Chambers of Industry and Commerce (DIHK).
            
           <h2 class="text-center"><a href="/apprenticeships"> Go to GACC Registered Apprenticeships</a></h2>
        </p>
    </div>
        </div>
        </div>
    </div>
</div>