<div class="container">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
         <h2>
            What is an Apprenticeship?
         </h2>
      </div>

        <div class="card-body">
          <p>
    Registered apprenticeship programs are structured, occupational training programs that combine On-The-Job training with related technical instruction (rigorous coursework) that increases an apprentice's skill
    level and ability to perform a kind of job effectively and safely and follows a clear wage scale that progressively increase over time or upon skill acquisition.
    <hr>
    Apprentices who complete one of the four GACC programs earn the nationally recognized designation of journeyperson with a number of exclusive industry certificates and German credentials.
            </p>
        </div>
    </div>
  </div>