<div class="col-sm-12 col-md-4 col-lg-4 mb-4">
    <div class="card no-hover shadow-sm h-100">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="GACC Pre-Apprenticeships" />
      <div class="card-body">
        <h5>
          Pre-Apprenticeships
        </h5>
        <p class="card-text">
          GACC Pre-Apprenticeships support young at heart workers with part-time paid jobs that develop basic and better tech skills. Pre-apprentices are put on track to be hired as a full-time employee or may enter one of GACC's Registered Apprenticeships, like Sales Engineering.</p>
        <p>
          <b>Upside:</b>
          <br />
          <span class="text-muted mt-2">
            <code>On-the-Job Training</code>, <code>Industry-recognized Certificates</code>, <code>Invaluable Workplace Experience</code>, <code>Pipeline into Apprenticeships & Employment</code>, <code>Employer Investment</code>, <code>Join the GACC Family</code>.
          </span>
        </p>
  <!--<p>
  <b>Credentials Earned</b>:
  <br />
  <span class="text-muted mt-2">
  <ul>
  <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
  <li>Mechatronics Technician Certificate - CCAC</li>
  <li>Associates degree - CCAC</li>
  <li>German Apprenticeship Certificate - DIHK</li>
  </ul>
  </span>
  </p>-->
      </div>
  </div>
  </div>