
<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
  <div class="row">

<div class="col-sm-12 col-md-4 col-lg-4 mb-4">
    <div class="card no-hover shadow-sm h-100">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="GACC Pre-Apprenticeships" />
      <div class="card-body">
        <h5>
          Pre-Apprenticeships
        </h5>
        <p class="card-text">
          Pre-Apprenticeship services and programs are designed to prepare students to enter and succeed in registered Apprenticeship programs. The program gives High School students the opportunity to get hands-on experience at a company (getting paid minimum $10/h), while getting classroom training and practice labs to receive an industry recognized certificate (e.g. from the MS Institute). After graduation the students can accelerate into one of our four Apprenticeship Programs in exciting career paths.
        <p>
          <b>Upside:</b>
          <br />
          <span class="text-muted mt-2">
            <code>Dual Enrollment</code>, <code>earn 6 college credits</code>, 
            <code>earn MT1 Certification</code>, <code>Invaluable Workplace Experience</code>, <code>Work directly into Apprenticeship</code>, <code>Have an Employer that Invests in you</code>, <code>Join the GACC Family</code>.
          </span>
        </p>
  <a href="https://images.admiralcloud.com/v3/deliverEmbed/254fad8f-3b19-4c2a-9929-1cd9f545a728/image/cropperjsfocus/830/830/0,0,1280,1280,0,1,1/640,640?poc=true" target="_blank">
  <img src="" class="img-thumbnail" />
  </a>
</div>
</div>
</div>
</div>
</div>
</div>