<div class="container">
    <div class="featurettes">
      <div class="row featurette">
        <div class="col-sm-12 col-md-5">
         <img
            class="featurette-image img-fluid mx-auto"
            src="https://images.unsplash.com/photo-1623778906053-d646c6b64681?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3103&q=80"
            alt="Changing careers is really hard."
          />
        </div>
        <div class="col-sm-12 col-md-7">
            <p>
              <div class="py-4 py-md-0">
                <h4>Job Skills for Everyone</h4>
                <p>The manufacturing industry in particular is currently facing challenges such as:</p>
                <ul>
                  <li>the loss of skilled workers due to retirements (baby boomer generation)</li>
                    <li>structural problems in the education system (student debt, low attractiveness of careers in manufacturing)</li>
                      <li>a high degree of flexibility in the US labor market. This contributes to the fact that the duration of employment of trained specialists in companies is much shorter compared to Germany: employees in the USA are much quicker prepared to change jobs.</li>
                  </ul>
              </div>
            </p>
        </div>
      </div>
    </div>
    </div>