<div class="container my-4">
    <div class="responsive-container">
      <div class="m-3">
      <img
            class="img-thumbnail"
            src="https://images.unsplash.com/photo-1623778906053-d646c6b64681?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3103&q=80"
            alt="Mural of Caricatures"
            
          />
      </div>
        <div class="">
              <div class="text-center">
                <h4>Industry 4.0 Job Skills for Everyone</h4>
                <p class="lead">The manufacturing industry in particular is currently facing challenges such as:</p>
                <ul>
                  <li><p class="lead">The loss of skilled workers due to retirements (baby boomer generation).
                  </p></li>
                    <li><p class="lead">Structural problems in the education system (student debt, low attractiveness of careers in manufacturing).
                    </p></li>
                      <li><p class="lead">A high degree of flexibility in the US labor market. This contributes to the fact that the duration of employment of trained specialists in companies is much shorter compared to Germany: employees in the USA are much quicker prepared to change jobs.
                      </p></li>
                  </ul>
              </div>
        </div>
      </div>
  </div>