<div class="jumbotron">
    <div class="responsive-container">

<div>
    <h1 class="display-4">8th Annual Ice Gala</h1>
    <p class="lead">Our Annual Ice Gala is back for the 8th time and we would like to spend the night with us to celebrate our Workforce Development Initiatives with the German American Community in Pittsburgh.</p>
    <hr class="my-4">
    <p>MEMBER EARLY BIRD TICKET RATE VALID UNTIL JANUARY 15th</p>
    <a class="btn btn-primary btn-lg" href="https://gaccpittsburgh.wildapricot.org/event-5067750" role="button">Register</a>
</div>
    <div>
        <img src="https://gaccpittsburgh.wildapricot.org/resources/Pictures/Untitled.png" class="img-thumbnail" alt="">
    </div>
</div>
  </div>