---
layout: default
permalink: /apprenticeships
testimonials: false
newsletter: false
title: Apprenticeships
cards-col-6: true
back: Workforce Development
backhref: /workforce-development
---

<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb bg-white">
      <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/">Home</a></li>
          {% if page.back %}
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page"><a href="{{ page.backhref }}">{{ page.back }}</a></li>
         {% endif %}
        </ol>
      </nav>
  </div>
  </div>
  <div class="container">
  <blockquote class="blockquote mb-0">
    <h3>"94% of apprentices who complete an apprenticeship retain employment, with an average annual salary of $77,000."</h3>
    <footer class="blockquote-footer"><b>Apprenticeship.gov</b></footer>
  </blockquote>
</div>

<div id="orbit-courses" class="py-1 my-5 bg-dark">
  <div class="container">
    {% include apprenticeships/header.html %}
  </div>

    <div class="container">
    <div class="d-flex responsive-container">
  <!--{% include apprenticeships/cards/whatsorbit.html %}-->
      {% include apprenticeships/cards/mechatronics-technician.html %}
      {% include apprenticeships/cards/polymer-technician.html %}
    </div>
    <div class="d-flex responsive-container">
      {% include apprenticeships/cards/sales-engineering.html %}
      {% include apprenticeships/cards/cad-cam-designer.html %}
    </div>
  </div>
  {% include components/raq-faq.html %}
{% include components/still-have-questions.html %}

</div>
</div>

