---
layout: page
title: Pre-Apprenticeships
permalink: /pre-apprenticeships
course_slug: pre-apprenticeships
back: Workforce Development
backhref: /workforce-development
testimonials: false
photos-loop: "photos-pre"
hide_card_details_btn: true
---

<div class=" pt-3 pt-md-5 pb-5 border-top--black-1">
<div class="container">
<div class="row">

{% include apprenticeships/cards/pre-app-card.html %}

<div class="col-md-8 order-md-1">
<h4 class="mb-2 text-muted">Overview</h4>
<p class="mb-4">
<h5>Dual Enrollment</h5>
<p>

Through dual enrollment agreements, apprentices gets the On-the-Job training at the company and related instruction in the classroom or online. GACC Apprentices receive nationally industry-recognized certificates, like the Manufacturing Technician Level 1 from the MSI Institute.

The certification is bound with 6 college credits from Partnering Community Colleges that can later on be transferred into the Apprenticeship Program. </p>

<h5>How it Works</h5>
<p>GACC Pre-apprentices typically are high schoolers who are keen to explore a career aligned with one of GACC's Registered Apprenticeships. Pre-apprentices receive a paid jobs and through mentor-driven On-The-Job training and rigorous technical coursework delivered in the classroom or online - by both synchronous and asynchronous instruction - build a confidence and comfortability to work with technology generally and specific to an occupation's competency model.  Pre-apprentices learn skills that are necessary for success today -- and tomorrow.</p>

<h5>Skills & Competencies Developed</h5>
Tech literacy and basic tech skills are established by broad courses like intro to programming and intro omputer science, beginner web development and working with specialized applications for design, web marketing, technical sales and customer success, business analytics, basics of Agile methodologies and familiarity with enterprise cybersecurity, Web3, and blockchain.
</p>

<p>The Pre-Apprenticeship program is designed to prepare students to enter and succeed in registered Apprenticeship programs. The program gives high school students a paid internship opportunity to get hands-on experience at a company, and receive an industry recognized certificate (e.g. MT1 from the MS Institute). Pre-apprentices can - upon completion - accelerate into one of our four Registered Apprenticeship programs, or enter the workforce with high-demand technical skills.
</p>
</div>
</div>
</div>

<div class="container">
  {% include apprenticeships/sliders/photos-pre-app.html %}
{% include apprenticeships/carousel-pre-testies.html %}
</div>
{% include modals/call-connect.html %}
</div>

<!--<div class="container">
<div class="row d-none d-md-block mx-5 px-5">
  <div class="w-50 mx-auto">
  {% include tools/pa-d3.html %}
</div>
  <div class="col-4"></div>
</div>
</div>-->