---
layout: page
title: Pre-Apprenticeships
permalink: /pre-apprenticeships
course_slug: pre-apprenticeships
back: Workforce Development
backhref: /workforce-development
testimonials: false
---

<div class=" pt-3 pt-md-5 pb-5 border-top--black-1">
<div class="container">
<div class="row">

{% include apprenticeships/cards/pre-app-card.html %}

<div class="col-md-8 order-md-1">
<h4 class="mb-2 text-muted">Overview</h4>
<p class="mb-4">
<h5>Duel Enrollment</h5>
<p>

Through dual enrollment agreements, apprentices gets the On-the-Job training at the company and related instruction in the classroom or online. GACC Apprentices receive nationally industry-recognized certificates, like the Manufacturing Technician Level 1 from the MSI Institute.

The certification is bound with 6 college credits from CCAC that can later on be transferred into the Apprenticeship Program. </p>

<h5>How it Works</h5>
<p>GACC Pre-apprentices typically are high schoolers who are keen to explore a career aligned with one of GACC's Registered Apprenticeships. Pre-apprentices receive a paid jobs and through mentor-driven On-The-Job training and rigorous technical coursework delivered in the classroom or online - by both synchronous and asynchronous instruction - build a confidence and comfortability to work with technology generally and specific to an occupation's competency model.  Pre-apprentices learn skills that are necessary for success today -- and tomorrow.</p>

<h5>Skills & Competencies Developed</h5>
Tech literacy and basic tech skills are established by broad courses like intro to programming and intro omputer science, beginner web development and working with specialized applications for design, web marketing, technical sales and customer success, business analytics, basics of Agile methodologies and familiarity with enterprise cybersecurity, Web3, and blockchain.
</p>

<p>Pre-Apprenticeship is designed to prepare students to enter and succeed in registered Apprenticeship programs. The program gives High School students the opportunity to get hands-on experience at a company (getting paid minimum $10/h), while getting classroom training and practice labs to receive an industry recognized certificate (e.g. from the MS Institute). After graduation the students can accelerate into one of our four Apprenticeship Programs in exciting career paths.
</p>

</div>

</div>
<div class="container mx-5 px-5">
  {% include tools/pa-d3.html %}
</div>


</div>
</div>

<div class="container">
  {% include apprenticeships/carousel-pre-testies.html %}
  <div class="row m-5">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4 mx-auto">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="/about#anchor--contactus"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
         Schedule a Call
        </button>
      </div>
    </div>
  </div>
</div>
