---
layout: page
title: Pre-Apprenticeships
permalink: /workforce-development/pre-apprenticeships
course_slug: pre-apprenticeships
back: Workforce Development
backhref: /workforce-development
---

<div class=" pt-3 pt-md-5 pb-5 border-top--black-1">
<div class="container">
<div class="row">

{% include apprenticeships/cards/pre-app-card.html %}

<div class="col-md-8 order-md-1">
<h4 class="mb-2 text-muted">Overview</h4>
<p class="mb-4">
<h5>Duel Enrollment</h5>
<p>
GACC Pre-Apprenticeships provide young workers with paid jobs that will accellerate development of skills needed to succeed in the real world or work in a career field represented by one of GACC's registered apprenticeships. Through dual enrollment agreements, students will be trained skills that are relevant for the On-the-Job training at the company in classroom and lab training. Upon successful completion of that they will receive an nationwide industry recognized certificate (e.g. Manufacturing Technician Level 1 from the MSI Institute).

The certification is bound with 6 college credits from CCAC that can later on be transferred into the Apprenticeship Program. </p>

<h5>How it Works</h5>
<p>GACC Pre-apprentices typically are high schoolers who are keen to explore a career aligned with one of GACC's Registered Apprenticeships. Pre-apprentices receive a paid jobs and through mentor-driven On-The-Job training and rigorous technical coursework delivered in the classroom or online - by both synchronous and asynchronous instruction - build a confidence and comfortability to work with technology generally and specific to an occupation's competency model.  Pre-apprentices learn skills that are necessary for success today -- and tomorrow.</p>

<h5>Skills & Competencies Developed</h5>
Tech literacy and basic tech skills are established by broad courses like intro to programming and intro omputer science, beginner web development and working with specialized applications for design, web marketing, technical sales and customer success, business analytics, basics of Agile methodologies and familiarity with enterprise cybersecurity, Web3, and blockchain.
</p>

<p>Pre-Apprenticeship is designed to prepare students to enter and succeed in registered Apprenticeship programs. The program gives High School students the opportunity to get hands-on experience at a company (getting paid minimum $10/h), while getting classroom training and practice labs to receive an industry recognized certificate (e.g. from the MS Institute). After graduation the students can accelerate into one of our four Apprenticeship Programs in exciting career paths.
</p>

</div>

</div>
{% include tools/pa-d3.html %}
</div>
</div>

