---
layout: default
title: CAD/CAM Technical Designer | Apprenticeship
permalink: /instruction/orbits/react
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: react
testimonials: true
---

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include instruction/cards/react.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
          CAD / CAM Technical Designers utilize their extensive software knowledge to produce complex projects involving 2D images (surface modeling) and 3D images (solid modeling). They are able to analyze a problem using their mathematical and engineering background and come up with a creative solution. CAD/CAM Technical Designers are working closely with the Engineering team and customers on a variety of projects.
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
              <!-- <a
                class="btn btn-md btn-primary ga-click-event"
                href="#"
                role="button"
                ga-label="webdev"
                ga-category="requestSyllabus"
                data-toggle="modal"
                data-target="#modal--requestSyllabus--webapp"
              >
                <i class="fas fa-cloud-download-alt"></i> Download Syllabus
              </a> -->
          </h4>

          <!-- Building web apps with <a href="https://reactjs.org/" target="_blank" title="React - A JavaScript library for building user interfaces">React</a>, requires thinking about a User Interface as series of components integrated with data in predictable patterns using <abbr title="JavaScript XML">JSX</abbr> syntax. -->

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">
              <div>
                <h5 class="my-0">
                 Drafting
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Read and interpret blueprints, sketches, drawings, routing instructions, manuals, and specifications.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                   Engineering
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Use innovation to design and build projects using professional software.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Math & Technical Classes
                </h5>
                <div class="series-outline-details text-muted pt-2">
                 Students will be taught about mathematical and technical concepts and procedures related to the role of a CAD/CAM Technical Designer. 
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Production Management
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Learn the process of managing the activities of a business to produce desired outcomes for products and services.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Fundamental Skills in Manufacturing 
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Find out all the basic skills you need to know in order to be successful in manufacturing.
                </div>
              </div>
            </li>
          </ul>

          <p>
            <b>Note:</b> Important <a class="ga-click-event" ga-label="legal info" ga-category="instruction" href="#anchor--legalinformation">legal information for participants</a>.
          </p>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4">
        {% include locations/all.html %}
      </div>
      <div class="col-md-7">
        {% include membership-options.html %}
      </div>
    </div>

  </div>

  {% comment %}
  {% include eventbrite.html %}
  {% endcomment %}
</div>

{% include free-trial.html %}

<div class="container py-5">
  <div class="row">
    <!-- more info -->
    <div class="col-12">
      <h4 id="orbit-faqs" class="mb-3">FAQs</h4>
      <hr />

      <h4 class="mb-3">In what areas of a company does a CAD/CAM Technical Designer work?</h4>
      <p>
        During the Apprenticeship Program you will rotate through the different departments of your company beginning from R&D, Engineering and Production side.
      </p>
      <p>
        The goal is it to get a profound understanding of the product the company produces in order to help become a good designer. The main time of the Apprenticeship Program, the Apprentice will work along with other Designer and Engineers to gain extensive knowledge and skills in CAD/CAM Design software.
      </p>

      <h4 class="mb-3">What does a CAD/CAM Technical Designer do?</h4>
      <p>
        <ul>
          <li>Read and interpret blueprints, sketches, drawings, routing instructions, manuals, and specifications.</li>
          <li>Understand GD&T and apply it during the programming process.</li>
          <li>Use of CAD to create part models and geometry as needed.</li>
          <li>Use of CAM programming on multi-axis mill-turn machines.</li>
          <li>Determine optimal tooling and cutting parameters based on material and setup.</li>
          <li>Understand and implement work holding for manufacturing processes.</li>
          <li>Plan and execute manufacturing processes individually or as a team.</li>
          <li>Provide Engineering and Management information that affects part quality or schedule.</li>
          <li>Maintain revision and quality control on programs, tool sheets, and setup documentation.</li>
          <li>Machining: Lathes, Drill Press/Radial Drill, Mills, Misc. Grinders, Bench Work, Layout & Fabrication</li>
          <li>Machines: Troubleshooting, repairing, preventive maintenance of machines</li>
          <li>Generate accurate CAD/CAM drawings of parts using supplied print or sketch.</li>
          <li>Create and maintain the part manufacturing processes</li>
          <li>Needs to be proficient creating/designing, editing, maintaining Microsoft Office programs</li>
          <li>General and practical knowledge of measuring tools, equipment, and concepts.</li>
          <li>Excellent working knowledge of geometric tolerancing and dimensioning</li>
          <li>Use of small power tools, electronic sensor equipped data logger, hoist & crane systems</li>
        </ul>
      </p>

      <h4 class="mb-3">In what kind of industries does a CAD/CAM Technical Designer work?</h4>
      <p>
        CAD/CAM Technical Designers are needed in all kind of industries where a highly technical product gets designed and/or manufactured. 
      </p>
      <p>
        We currently have opening at Hennecke Inc. and Veka Inc. They produce and sell various products such as:
      </p>
      <p>
        <ul>
          <li>Machines that produce polyurethane plastics that are used in a vast variety of products like car seats. Graduates would work as Mechanical Design Engineers.</li>
          <li>Custom vinyl window frames and vinyl decking. Graduates would work as CAD/CAM Designer.</li>
        </ul>
      </p>
  
  <h4 class="mb-3">What about the classroom portion of the program?</h4>
      <p>
        Next to working full-time at one of the participating companies the apprentices will have classroom training at CCAC to obtain the Computer-aided Drafting & Design Technology Associate's Degree.
        The curriculum at CCAC includes drafting, engineering, math and technical classes, but also production management and fundamental skills in manufacturing (MT1 certification).
      </p>
      <p>
        Apprentices will be paid while working and getting trained on the job as well as attending their college classes. Moreover, the companies pay the student’s college tuition, which makes our program an attractive alternative to pay for college education while simultaneously gaining significant work experiences.
      </p>
  
  <h4 class="mb-3">Who can apply to the program?</h4>
      <p>
       Juniors and Seniors in High School can apply for the program. Please your resume to Lisa Conturo lconturo(at)gaccpit.com.
      </p>

      <h4 class="mb-3">What certification do I get upon completion?</h4>
      <p>
        Upon completion the CAD/CAM Technical Design Apprentices receive:
      </p>
      <p>
        <ul>
          <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
          <li>Associates degree from CCAC</li>
          <li>Apprenticeship Certificate from the DIHK</li>
        </ul>
      </p>
    </div>
  </div>

  {% include legal-info.html %}

  <div class="row">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
          Schedule Call
        </button>
      </div>
    </div>
  </div>

</div>
