---
layout: default
title: React | Instruction | Build Web Apps with React in Pittsburgh
permalink: /instruction/orbits/react
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: react
testimonials: true
---

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include instruction/cards/react.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
          Become competent in the main concepts of building web apps with React.
        </p>
        <p>
          You'll build a portfolio of web apps from scratch using React.
        </p>
        <p>
          The member-instructor ratio is 5:1 to provide a personalized learning experience.
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
              <!-- <a
                class="btn btn-md btn-primary ga-click-event"
                href="#"
                role="button"
                ga-label="webdev"
                ga-category="requestSyllabus"
                data-toggle="modal"
                data-target="#modal--requestSyllabus--webapp"
              >
                <i class="fas fa-cloud-download-alt"></i> Download Syllabus
              </a> -->
          </h4>

          <!-- Building web apps with <a href="https://reactjs.org/" target="_blank" title="React - A JavaScript library for building user interfaces">React</a>, requires thinking about a User Interface as series of components integrated with data in predictable patterns using <abbr title="JavaScript XML">JSX</abbr> syntax. -->

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">
              <div>
                <h5 class="my-0">
                  JSX, State & JS (ES6+)
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Start thinking in <a href="https://reactjs.org/" target="_blank" title="React - A JavaScript library for building user interfaces">React</a>, master JavaScript ES6+ builtin functions and write & refactor HTML into <abbr title="JavaScript XML">JSX</abbr> syntax.
                  <!-- together render User Interfaces as a series of components integrated with data in predictable patterns using <abbr title="JavaScript XML">JSX</abbr> syntax. -->
                  <!-- Begin building a responsive <abbr title="Single Page Application">SPA</abbr> with <a href="https://reactjs.org/" target="_blank" title="React - A JavaScript library for building user interfaces">React</a> functional and class components. -->
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Local Development, Components & Props
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Develop locally using Node. Break down User Interfaces into small reusable peices. Build functional components written using <abbr title="JavaScript XML">JSX</abbr> syntax that receive <abbr title="JavaScript Object Notation">JSON</abbr> data through props.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Composition, Conditional Rendering & Deployment
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Compose Class components that conditionaly render elements that work in-concert with each other via component-level state. Render lists by maping data and returning HTML elements. Deploy your React Apps to production.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Event Handling, Component Lifecycle & APIs
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Consume data from APIs. Connect components together via a centralized state. Handle component-level events and lift state up to pass events from children up to the parent component.
                </div>
              </div>
            </li>
          </ul>

          <p>
            <b>Note:</b> Important <a class="ga-click-event" ga-label="legal info" ga-category="instruction" href="#anchor--legalinformation">legal information for participants</a>.
          </p>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4">
        {% include locations/all.html %}
      </div>
      <div class="col-md-7">
        {% include membership-options.html %}
      </div>
    </div>

  </div>

  {% comment %}
  {% include eventbrite.html %}
  {% endcomment %}
</div>

{% include free-trial.html %}

<div class="container py-5">
  <div class="row">
    <!-- more info -->
    <div class="col-12">
      <h4 id="orbit-faqs" class="mb-3">FAQs</h4>
      <hr />

      <h4 class="mb-3">How many members are in a class?</h4>
      <p>
        This varies based on in-person and remote attendees, but generally doesn't exceed 15 members.
      </p>

      <h4 class="mb-3">What specific technologies will I learn?</h4>
      <p>
        <ul>
          <li>JavaScript</li>
          <li>ES6+</li>
          <li>React</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>Chrome Developer Tools</li>
          <li>Bootstrap</li>
        </ul>
      </p>

      <h4 class="mb-2">Do I need to have previous experience?</h4>
      <p>
        JavaScript or demonstration of equivalent skills.
      </p>

      <h4 class="mb-2">Who is teaching this series?</h4>
      <p class="mb-4">
        Learn how to code from seasoned software engineers with decades of combined experience currently working for tech companies from Pittsburgh to Silicon Valley.
      </p>

      <h4 class="mb-2">Enrollment Process</h4>
      <p class="mb-4">
        See <a scroll-top="#enrollment-process" class="ga-click-event scroll-to" href="javascript:void(0);" ga-label="section above" ga-category="react">section above</a>.
      </p>

      <h4 class="mb-2">What software will I need?</h4>
      <p class="mb-4">
        Any software downloads will be free and recommended by instructors.
      </p>

      <h4 class="mb-3">Do I need any equipment?</h4>
      <p>
        Yes. A laptop computer with the following is required:
      </p>
      <p>
        <ul>
          <li>Windows 7 or greater, OR Mac OS X 10.7.5 or greater</li>
          <li>2.0 GHz processor or greater</li>
          <li>2 GB RAM minimum</li>
          <li>250 GB HDD</li>
          <li>wi-fi enabled</li>
        </ul>
      </p>
      <p>
        Not sure if your laptop meets these requirements?
        <br />
        Email us at <a href="mailto:hello@upstreamcoding.com">hello@upstreamcoding.com</a>.
      </p>

      <h4 class="mb-3">What certification do I get upon completion?</h4>
      <p>
        Upstream Coding PGH offers no certification and makes no promise of future employment.
      </p>
    </div>
  </div>

  {% include legal-info.html %}

  <div class="row">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
          Schedule Call
        </button>
      </div>
    </div>
  </div>

</div>
