---
layout: default
title: Mechatronics | Apprenticeship
permalink: /instruction/orbits/web-development
hide_card_details_btn: true
membership_duration: (4 months)
course_slug: webdev
testimonials: true
---

<div class="bg-light pt-3 pt-md-5 pb-5 border-top--black-1">
  <div class="container">
    <div class="row">

      {% include instruction/cards/webdev.html %}

      <div class="col-md-8 order-md-1">
        <h4 class="mb-2 text-muted">Overview</h4>
        <p class="mb-4">
           Mechatronics Technicians have a combined skill set and can handle mechanical and electrical tasks and therefore a highly involved with maintaining automated equipment such as robots and other state-of-the-art machinery.
        </p>
        <p>
           Mechatronics technicians apply their knowledge of engineering to solve technical problems and maintain automated mechanical equipment. This may entail installing, inspecting, troubleshooting and repairing electrical, electronic and mechanical components. 
        </p>
        <p>
 
        </p>

        <br />

        <div class="col-md-12 px-0">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Curriculum</span>
            <!-- <a
              class="btn btn-md btn-primary ga-click-event"
              href="#"
              role="button"
              ga-label="webdev"
              ga-category="requestSyllabus"
              data-toggle="modal"
              data-target="#modal--requestSyllabus--webdev"
            >
              <i class="fas fa-cloud-download-alt"></i> Download Syllabus
            </a> -->
          </h4>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Basic Electrical & Their Components
                </h5>
                <div class="series-outline-details text-muted pt-2">
                Install electrical sub-assemblies and components. 
               </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Motor Control</h5>
                <div class="series-outline-details text-muted pt-2">
                  Build and test control systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Wiring
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Test and adjust the functioning of mechatronics systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Power Distribution
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Measure and test electrical values.
                </div>
              </div>
            </li>
             <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                  Hydraulics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Test and adjust the functioning of mechatronics systems.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                 Pneumatics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Convert energy into mechanical motion.
                </div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">
                 Robotics
                </h5>
                <div class="series-outline-details text-muted pt-2">
                  Maintain and program robotic systems on the production floor.
                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4">
        {% include locations/all.html %}
      </div>
      <div class="col-md-7">
        {% include membership-options.html %}
      </div>
    </div>

  </div>

  {% comment %}
  {% include eventbrite.html %}
  {% endcomment %}
</div>

{% include free-trial.html %}

<div class="container py-5">
  <div class="row">
    <!-- more info -->
    <div class="col-12">
      <h4 id="orbit-faqs" class="mb-3">FAQs</h4>
      <hr />

      <h4 class="mb-3">How many members are in a class?</h4>
      <p>
        This varies based on in-person and remote attendees, but generally doesn't exceed 15 members.
      </p>

      <h4 class="mb-3">What specific technologies will I learn?</h4>
      <p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>Chrome Developer Tools</li>
          <li>Bootstrap</li>
          <li>Hotjar</li>
          <li>Google Analytics</li>
        </ul>
      </p>

      <h4 class="mb-2">Do I need to have previous experience?</h4>
      <p>
        No previous experience is required.
      </p>

      <h4 class="mb-2">Who is teaching this series?</h4>
      <p class="mb-4">
        Learn how to code from seasoned software engineers with decades of combined experience currently working for tech companies from Pittsburgh to Silicon Valley.
      </p>

      <h4 class="mb-2">Enrollment Process</h4>
      <p class="mb-4">
        See <a scroll-top="#enrollment-process" class="ga-click-event scroll-to" href="javascript:void(0);" ga-label="section above" ga-category="webdev">section above</a>.
      </p>

      <h4 class="mb-2">What software will I need?</h4>
      <p class="mb-4">
        Any software downloads will be free and recommended by instructors.
      </p>

      <h4 class="mb-3">Do I need any equipment?</h4>
      <p>
        Yes. A laptop computer with the following is required:
      </p>
      <p>
        <ul>
          <li>Windows 7 or greater, OR Mac OS X 10.7.5 or greater</li>
          <li>2.0 GHz processor or greater</li>
          <li>2 GB RAM minimum</li>
          <li>250 GB HDD</li>
          <li>wi-fi enabled</li>
        </ul>
      </p>
      <p>
        Not sure if your laptop meets these requirements?
        <br />
        Email us at <a href="mailto:hello@upstreamcoding.com">hello@upstreamcoding.com</a>.
      </p>


      <h4 class="mb-3">What certification do I get upon completion?</h4>
      <p>
        Upstream Coding PGH offers no certification and makes no promise of future employment.
      </p>
    </div>
  </div>

  {% include legal-info.html %}

  <div class="row">
    <div class="col">
      <div class="card p-2 col-sm-12 col-lg-4">
        <h5>Still have questions?</h5>
        <button
          class="btn btn-lg btn-outline-primary ga-click-event"
          href="#"
          ga-label="{{ page.course_slug }}"
          ga-category="scheduleCall"
          data-toggle="modal"
          data-target="#modal-connectWithAdvisor"
          data-course="{{ page.course_slug }}"
        >
          Schedule Call
        </button>
      </div>
    </div>
  </div>

</div>
