---
layout: default
permalink: /about
testimonials: false
newsletter: false
title: About
---
<div class="page-about">
      <div class="container">
      <div class="row">
      <nav aria-label="breadcrumb bg-white">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/#customer-types">Home</a></li>
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page">{{ page.title }}</li>
        </ol>
      </nav>
      </div>
      </div>
  <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item carousel-item-0 active active"
        style="background-image:url(/assets/img/new-about-us-header.png)"
      >
      <div class="container">
        <div class="carousel-caption">
          <h1>
  About Us
          </h1>
        </div>
      </div>
    </div>

    </div>
  </div>-->

  <div class="container">
    <div class="row title-copy">
      <a name="anchor--aboutus"></a>
      <div class="col">
        <!--<h2 class="featurette-heading">
        About Us
        </h2>-->
        <p>
          The GACC Pittsburgh Chapter seeks to expand bilateral commercial ties and exchange our knowledge and innovations between Germany and the United States. Our day-to-day focus is expanding the German Dual Apprenticeship system with employer partners throughout the region through four registered apprenticeships, pre-apprenticeships, and other workforce development programs.
        </p>
        <p>
          GACC-PIT was founded in 2015 and is a private, non-profit organization that serves as the official representative of German trade in Western Pennsylvania, West Virginia, and Ohio. We are an international network of 140 German foreign chambers of commerce worldwide and have government offices in 92 countries. Members enjoy the benefits of commercial services, advisory, networking & delegation events, availability of a professional team with transatlantic expertise, visibility for their brand on our digital and print channels, exclusive invitations to events and conferences, publications and databases, visa and legal services, career support, and more.
        </p>
      </div>
    </div>
    </div>


  </div>

  <div class="container m-5 mx-auto">
    {% include components/raq-faq.html %}
  </div>
       <!--<div class="row title-copy">
      <a name="anchor--mission"></a>
      <div class="col">
        <h2 class="featurette-heading">
          Mission
        </h2>
        <p>
          We've worked as front-end engineers, web production managers and entrepreneurs. We recognized that the learn-to-code options in Pittsburgh missed the mark. We decided to start a good business that combined our experiences and helped people improve their lives. We started Upstream.
        </p>
      </div>
    </div>-->

    <!--<div
      class="jumbotron p-6 mt-5 text-white bg-dark jumbotron--with-quote"
      style="background-image:url(https://images.unsplash.com/photo-1619697940685-5c224f34dfbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80)"
    >
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col">
            <h1 class="display-4 font-italic">
              “Software developer jobs are expected to grow 17% from 2014 till 2024.”
            </h1>
            <p class="lead my-3 text-align-right">
              U.S. Bureau of Labor Statistics
            </p>
          </div>
        </div>
      </div>
    </div>-->
<div class="container">
<div>
{% include contact/profiles.html %}
</div>
</div>

  <div class="container">
    <div id="anchor--location" class="featurettes-container">
      <h3 class="label-primary mt-5">
        Downtown Pittsburgh Office
      </h3>

      <hr class="mt-2 mb-4" />
      <a name="anchor--locations"></a>

      <div class="featurettes" id="anchor--contactus">
        <div class="responsive-container justify-content-center mb-0">
            <iframe class="m-sm-2 m-md-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.417393673228!2d-80.00470548255615!3d40.4438979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f156503aaaab%3A0x6465f4131a3c329!2sGACC%20Pittsburgh!5e0!3m2!1sen!2sus!4v1659435243698!5m2!1sen!2sus" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="">
            {% include address-plug.html %}
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container" id="anchor--gacc-ra-locations">
    <div class="row m-0">
      <div class="col">
        {% include apprenticeships/gacc-ra-locations.html %}
      </div>
    </div>
  </div>

  <!--<div
  class="container mb-5"
  >
  <div class="row">
    <div class="col">
      <h3>
        Contact Us
      </h3>
      <hr class="mt-2 mb-4" />
      <div>
        {% include contact/form.html %}
      </div>
    </div>
  </div>
</div>-->
{% include discrimination-statement.html %}
</div>
