<style>
    .observ {
    margin-right: 50px;
    margin-left: 50px;   
    }
</style>
<div class="container">
<div class="d-flex flex-column align-items-center observ">
<div id="observablehq-svg-fb9e527f"></div>
<p>A Visualization of the GACC Pre-Apprenticeship Framework & Pathways.</p>
<p> Pre-Apprentices earn their way into an apprenticeship or enter the workforce with in-demand job skills.</p>
</div>
</div>
<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@trevianxyz/gacc-turbine-upskills-pathways/3.js?v=3";
new Runtime().module(define, name => {
  if (name === "svg") return new Inspector(document.querySelector("#observablehq-svg-fb9e527f"));
});
</script>