<div class="container bg-white py-5">
<h4 id="text-center" class="mb-3">FAQs</h4>
<div class="accordion" id="faq_salesEng">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What does a Sales Engineer do?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq_salesEng">
      <div class="card-body">
        <p>
          <ul>
            <li>Identify and contact existing and new clients with sales potential</li>
            <li>Evaluates client leads to a needs analysis that will support the preparation of the customer visit or initial call</li>
            <li>Utilizes data from the needs analysis to develop & prepare customer focused sales pitches</li>
            <li>Demonstrates communication skills, active listening skills</li>
            <li>Presents and represents the company, brand, product and a solution to the client</li>
            <li>Demonstrates strategies such as: follow-up, cross-selling, up-selling techniques</li>
            <li>Ability to present the company, mission, brand and products appropriately</li>
            <li>Confers with customers & engineers to assess equipment needs and to determine system requirements</li>
            <li>Collaborates with sales teams to understand customer requirements and provides sales support</li>
            <li>Plans and modifies products to meet customer needs</li>
            <li>Help clients solve problems with installed equipment</li>
            <li>Helps in researching and developing new products</li>
            <li>Demonstrates ability to manage inventory, estimates demand for products and services and schedules orders</li>
            <li>Handles customer complaints</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          In what kind of industries does a Sales Engineer work?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq_salesEng">
      <div class="card-body">
        Sales Engineers work in all kind of industries where a highly technical product needs to be sold to a customer. Companies in our cohort are: Foerster Instruments Inc., Z + F USA Inc. , WE EF Lighting and Leybold USA Inc. They produce and sell various products such as:
        <ul>
          <li>3D Laser Scanner that are used for architecture, inspection and other measurements</li>
          <li>Inspection equipment for pipes and other materials to detect falses</li>
          <li>Outdoor Lighting installations for buildings, some of them you can find in the skyscapers in Pittsburgh Downtown</li>
          <li>Vacuums that are part of the Hyperloop project in Switzerland</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What is the education component of an apprenticeship.
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq_salesEng">
      <div class="card-body">
        GACC works closely with the community colleges, career and technical centers and other credentialing institutions in the areas closest to where our apprentices live or work. The education partner awards academic credit for completion of instructions that may be delivered in a classroom on a community college campus or online either synchronously or asynchronously.
        <div class="d-flex responsive-container">
        <div class="col-sm-12 col-md-6">
          <img class="img-fluid mx-auto align-items-center" src="/assets/img/work-with-cc-ctc.svg" alt="GACC Community Colleges Partnerships" />
        </div>
        <div class="col-sm-12 col-md-6">
        <img class="img-fluid mx-auto align-items-center" src="/assets/img/jacob-graleski-and-justin-starr.jpeg" alt="Prof. Starr & Student" />
      </div>
    </div>
    </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingRTI">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseRTI" aria-expanded="false" aria-controls="collapseRTI">
          What is the RTI, and how is coursework facilitated?
        </button>
      </h5>
    </div>
    <div id="collapseRTI" class="collapse" aria-labelledby="headingRTI" data-parent="#faq_salesEng">
      <div class="card-body">
        <p>The Related Technical Instruction may be delivered in a classroom format or online over a robust enterprise platform that enables 24/7 access to training content and tracks skill gain against competency models.  The curriculum includes classes in basic electrical and their components, motor control, wiring, power distribution, hydraulics, pneumatics and robotics.
          For example, in Mechatronics Industrial Processes, apprentices learn how engineering materials are gathered and processed for use. The course covers principles of production planning, inventory management and the operating and troubleshooting of industrial equipment. Students who successfully pass the course will sit for the Manufacturing Skill Standards Council's (MSSC) Processes and Production and Maintenance Awareness exams towards achievement of the Certified Production Technician (CPT) credential. </p>
        <div class="responsive-container justify-content-center">
        <div class="">
    <img class="img-fluid w-75" src="/assets/img/turbine-screenshots/GACC-catalog-page.png" alt="GACC Turbine course catalog" />
      </div>
      <div class="">
        <img class="img-fluid" src="/assets/img/turbine-screenshots/upskilling-covid-online--04.jpeg" alt="online course turbine workforce" />
      </div>
    </div>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="heading_sework">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_sework" aria-expanded="false" aria-controls="collapse_sework">
          In what areas of a company does a Sales Engineer work?
        </button>
      </h5>
    </div>
    <div id="collapse_sework" class="collapse" aria-labelledby="heading_sework" data-parent="#faq_salesEng">
      <div class="card-body">
        <div class="responsive-container">
        <div>
      During the Apprenticeship Program you will rotate through the different departments of your company beginning from Sales, Marketing and Finance to Inventory, Warehouse and Production side. The goal is it to get a profound understanding of all parts of the company and to understand core and supporting processes. This way you as Sales Engineer have the right skill set to successfully pitch a sale to a customer and to consult them with product variations and use cases for your product. In some cases the Sales Engineer is the link between the customer and the company's R&D department. With your insight to the customer's needs and demands you can be an active part in product development and adjustment processes.
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What will be taught in the classroom section of the program?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faq_salesEng">
      <div class="card-body">
        <div class="responsive-container">
        <div>
        Next to working full-time at one of the participating companies the apprentices will have classroom training at a partnering community college to obtain the Sales Engineer certificate as well as an associate’s degree. The curriculum at a partnering community college includes business administration classes, but also production management and fundamental skills in manufacturing (MT1 certification). Apprentices will be paid while working and getting trained on the job as well as attending their college classes. Moreover, the companies pay the student’s college tuition, which makes our program an attractive alternative to pay for college education while simultaneously gaining significant work experiences.
      </div>
      <div class="p-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12146.959306933653!2d-80.1936348!3d40.4367596!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19091269f255e720!2sCCAC%20West%20Hills%20Center!5e0!3m2!1sen!2sus!4v1658047052134!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
      </div>
    </div>
  </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            What certification do I get upon completion?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faq_salesEng">
        <div class="card-body">
          <p>
            Upon completion the Mechatronics Technician Apprentices receive:
          </p>
          <ul>
              <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
              <li>Sales Engineer Certificate from a partnering community college</li>
              <li>Associates degree from a partnering community college</li>
              <li>Apprenticeship Certificate from the DIHK</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>