<div class="container bg-white py-5">
    <h4 id="text-center" class="mb-3">FAQs</h4>
    <div class="accordion" id="accordionMechatronicsFAQ">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What are my tasks as a Mechatronics Technician?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <p>
              <ul>
                <li>Process mechanical parts</li>
                <li>Assemble sub-assemblies and components into mechatronics system</li>
                <li>Install electrical sub-assemblies and components</li>
                <li>Troubleshooting</li>
                <li>Measure and test electrical values</li>
                <li>Install and test hardware and software components</li>
                <li>Build and test control systems</li>
                <li>Program and maintain mechatronics systems</li>
                <li>Assemble sub-assemblies and components into machines and systems</li>
                <li>Assemble and dismantle machinery, systems and plants, transport and secure</li>
                <li>Test and adjust the functioning of mechatronics systems</li>
                <li>Commission and operate mechatronics systems</li>
                <li>Hand over plants, instruct users in their operation and provide services</li>
                <li>Maintain and program robotic systems on the production floor</li>   
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              In what kind of industries does a Mechatronics Technician work?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            Due to their wide range of skills, Mechatronics Technicians are needed in a multitude of industries, including manufacturing, construction, agriculture and aerospace.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What will be taught in the classroom section of the program?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <div class="responsive-container">
            <div>
            Classroom training will be conducted at CCAC's Mechatronics Lab at their West Hill Campus (apprentices will be paid during classroom training) to give our apprentices a real college experience. The curriculum includes classes in basic electrical and their components, motor control, wiring, power distribution, hydraulics, pneumatics and robotics.
        <img class="img-thumbnail" src="/assets/img/ccac-red.jpeg" alt="CCAC logo" />
          </div>
          <div class="p-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12146.959306933653!2d-80.1936348!3d40.4367596!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19091269f255e720!2sCCAC%20West%20Hills%20Center!5e0!3m2!1sen!2sus!4v1658047052134!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              What are some successfull skills that can be gained from signing up for this program?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <p>
              <ul>
                <li>Think conceptually and logically</li>
                <li>Program PLCs by utilizing technical charts and troubleshoot errors</li>
                <li>Effectively plan and verify work processes while checking and evaluating results</li>
              </ul>
            </p>
          </div>
        </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                What certification do I get upon completion?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionMechatronicsFAQ">
            <div class="card-body">
              <p>
                Upon completion the Mechatronics Technician Apprentices receive:
              </p>
              <ul>
                  <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
                  <li>Mechatronics Technician Certificate from CCAC</li>
                  <li>Associates degree from CCAC</li>
                  <li>Apprenticeship Certificate from the DIHK</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="col">
          <div class="card p-2 col-sm-12 col-lg-4 mx-auto">
            <h5>Still have questions?</h5>
            <button
              class="btn btn-lg btn-outline-primary ga-click-event"
              href="#"
              ga-label="{{ page.course_slug }}"
              ga-category="scheduleCall"
              data-toggle="modal"
              data-target="#modal-connectWithAdvisor"
              data-course="{{ page.course_slug }}"
            >
              Schedule Call
            </button>
          </div>
        </div>
      </div>
    </div>