<div class="container bg-white py-5">
    <h4 id="text-center" class="mb-3">FAQs</h4>
    <div class="accordion" id="accordionMechatronicsFAQ">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What are my tasks as a Mechatronics Technician?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <p>
              <ul>
                <li>Process mechanical parts</li>
                <li>Assemble sub-assemblies and components into mechatronics system</li>
                <li>Install electrical sub-assemblies and components</li>
                <li>Troubleshooting</li>
                <li>Measure and test electrical values</li>
                <li>Install and test hardware and software components</li>
                <li>Build and test control systems</li>
                <li>Program and maintain mechatronics systems</li>
                <li>Assemble sub-assemblies and components into machines and systems</li>
                <li>Assemble and dismantle machinery, systems and plants, transport and secure</li>
                <li>Test and adjust the functioning of mechatronics systems</li>
                <li>Commission and operate mechatronics systems</li>
                <li>Hand over plants, instruct users in their operation and provide services</li>
                <li>Maintain and program robotic systems on the production floor</li>   
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              In what kind of industries does a Mechatronics Technician work?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            Due to their wide range of skills, Mechatronics Technicians are needed in a multitude of industries, including manufacturing, construction, agriculture and aerospace.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What is the education component of an apprenticeship.
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            GACC works closely with the community colleges, career and technical centers and other credentialing institutions in the areas closest to where our apprentices live or work. The education partner awards academic credit for completion of instructions that may be delivered in a classroom on a community college campus or online either synchronously or asynchronously.
            <div class="d-flex responsive-container">
            <div class="col-sm-12 col-md-6">
             <img class="img-fluid mx-auto align-items-center" src="/assets/img/work-with-cc-ctc.svg" alt="GACC Community Colleges Partnerships" />
            </div>
            <div class="col-sm-12 col-md-6">
            <img class="img-fluid mx-auto align-items-center" src="/assets/img/jacob-graleski-and-justin-starr.jpeg" alt="Prof. Starr & Student" />
          </div>
        </div>
        </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingRTI">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseRTI" aria-expanded="false" aria-controls="collapseRTI">
              What is the RTI, and how is coursework facilitated?
            </button>
          </h5>
        </div>
        <div id="collapseRTI" class="collapse" aria-labelledby="headingRTI" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <p>The Related Technical Instruction may be delivered in a classroom format or online over a robust enterprise platform that enables 24/7 access to training content and tracks skill gain against competency models.  The curriculum includes classes in basic electrical and their components, motor control, wiring, power distribution, hydraulics, pneumatics and robotics.
              For example, in Mechatronics Industrial Processes, apprentices learn how engineering materials are gathered and processed for use. The course covers principles of production planning, inventory management and the operating and troubleshooting of industrial equipment. Students who successfully pass the course will sit for the Manufacturing Skill Standards Council's (MSSC) Processes and Production and Maintenance Awareness exams towards achievement of the Certified Production Technician (CPT) credential. </p>
            <div class="responsive-container justify-content-center">
            <div class="">
       <img class="img-fluid w-75" src="/assets/img/turbine-screenshots/GACC-catalog-page.png" alt="GACC Turbine course catalog" />
          </div>
          <div class="">
            <img class="img-fluid" src="/assets/img/turbine-screenshots/upskilling-covid-online--04.jpeg" alt="online course turbine workforce" />
          </div>
        </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              What are some successfull skills that can be gained from signing up for this program?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionMechatronicsFAQ">
          <div class="card-body">
            <p>
              <ul>
                <li>Think conceptually and logically</li>
                <li>Program PLCs by utilizing technical charts and troubleshoot errors</li>
                <li>Effectively plan and verify work processes while checking and evaluating results</li>
              </ul>
            </p>
          </div>
        </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                What certification do I get upon completion?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionMechatronicsFAQ">
            <div class="card-body">
              <p>
                Upon completion the Mechatronics Technician Apprentices receive:
              </p>
              <ul>
                  <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
                  <li>Mechatronics Technician Certificate from PARTNERING COMMUNITY COLLEGE</li>
                  <li>Associates degree from PARTNERING COMMUNITY COLLEGE</li>
                  <li>Apprenticeship Certificate from the DIHK</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>