<div class="container">
    <div class="row">
        <h4 class="mx-auto">FAQs</h4>
    </div>
    
    <div class="accordion" id="faq_CAD">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What does a CAD/CAM Technical Designer do?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq_CAD">
          <div class="card-body">
            <p>
              <ul>
                <li>Read and interpret blueprints, sketches, drawings, routing instructions, manuals, and specifications.</li>
                <li>Understand GD&T and apply it during the programming process.</li>
                <li>Use of CAD to create part models and geometry as needed.</li>
                <li>Use of CAM programming on multi-axis mill-turn machines. *company dependent, where applicable*</li>
                <li>Determine optimal tooling and cutting parameters based on material and setup.</li>
                <li>Understand and implement work holding for manufacturing processes.</li>
                <li>Plan and execute manufacturing processes individually or as a team.</li>
                <li>Provide Engineering and Management information that affects part quality or schedule.</li>
                <li>Maintain revision and quality control on programs, tool sheets, and setup documentation.</li>
                <li>Machining - Lathes, Drill Press/Radial Drill, Mills, Misc. Grinders, Bench Work, Layout & Fabrication *company dependent, where applicable*</li>
                <li>Machines - Troubleshooting, repairing, preventive maintenance of machines  *company dependent, where applicable*</li>
                <li>Generate accurate CAD/CAM drawings of parts using supplied print or sketch.</li>
                <li>Create and maintain the part manufacturing processes</li>
                <li>Needs to be proficient creating/designing, editing, maintaining Microsoft Office programs</li>
                <li>General and practical knowledge of measuring tools, equipment, and concepts.</li>   
                <li>Excellent working knowledge of geometric tolerancing and dimensioning</li>  
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              In what kind of industries does a CAD/CAM Technical Designer work?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq_CAD">
          <div class="card-body">
           CAD/CAM Technical Designers are needed in all kind of industries where a highly technical product gets designed and/or manufactured. We currently have opening at Hennecke Inc. and Veka Inc. They produce and sell various products such as:
            <ul>
              <li>Machines that produce polyurethane plastics that are used in a vast variety of products like car seats. Graduates would work as Mechanical Design Engineers.</li>
              <li>Custom vinyl window frames and vinyl decking. Graduates would wokr as CAD/CAM Designer.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What is the education component of an apprenticeship.
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq_CAD">
          <div class="card-body">
            GACC works closely with the community colleges, career and technical centers and other credentialing institutions in the areas closest to where our apprentices live or work. The education partner awards academic credit for completion of instructions that may be delivered in a classroom on a community college campus or online either synchronously or asynchronously.
            <div class="d-flex responsive-container">
            <div class="col-sm-12 col-md-6">
             <img class="img-fluid mx-auto align-items-center" src="/assets/img/work-with-cc-ctc.svg" alt="GACC Community Colleges Partnerships" />
            </div>
            <div class="col-sm-12 col-md-6">
            <img class="img-fluid mx-auto align-items-center" src="/assets/img/jacob-graleski-and-justin-starr.jpeg" alt="Prof. Starr & Student" />
          </div>
        </div>
        </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                What certification do I get upon completion?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faq_CAD">
            <div class="card-body">
              <p>
                Upon completion the CAD/CAM Technical Designer Apprentices receive:
              </p>
              <ul>
                  <li>Journeyman papers by the PA Dept. of Labor and Industry (issued by the GACC Pittsburgh Chapter)</li>
                  <li>Associates degree from PARTNERING COMMUNITY COLLEGE</li>
                  <li>Apprenticeship Certificate from the DIHK</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>