.underlinzz {
    text-decoration: underline;
    text-decoration-color: #1B9CFC;
}

.emph {
    text-decoration: underline;
    text-decoration-color: #55E6C1;
}

.brand-bg {
    background-color: #7efff5;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: bolder;
}

.bg_one {
    background-color: none;
    font-weight: bolder;
    }

.bg_two {
    background-color: #ffeaa7;
}

.bg_three {
    background-color: #f8a5c2;
}

.brand-bg-5 {
    background-color: #ff7979;
}

.responsive-container {
display: flex;
flex-direction: row;
justify-content: space-around;
}

video {
    /* override other styles to make responsive */
    width: 100% !important;
    height:  !important;
  }


@media (max-width: 767.98px) {
    .responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

