<div
  id="modal--campaign--codingiscool"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-title--campaign--codingiscool"
  aria-hidden="true"
  cookie=""
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ site.s3bucket }}/images/campaigns/campaign--codingiscool.jpg" class="w-100">

        <h4 class="text-center mt-2">
          Learning to code is cool!
        </h4>

          <p>
            Whether you want to be Marissa Mayer or Mark Zuckerberg or just want in-demand skills to get that promotion or switch careers... you should <b>never learn alone.</b>
          </p>

          <p>
            When you pair program, you are more likely to stick with it and <mark><b>learn to code</b></mark>!
          </p>

          <p>
            Refer a friend after reserving your seat and you each <b>save $500</b>!
          </p>

        <div class="text-center">
          <button type="button" class="btn btn-md btn-primary" data-dismiss="modal" aria-label="Close">
            See Curriculum
          </button>
        </div>

      </div>
      <div class="modal-footer">
        {% include tos-plug.html %}
      </div>
    </div>
  </div>
</div>
