<div
  id="modal--campaign--pghpy"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-title--campaign--pghpy"
  aria-hidden="true"
  cookie=""
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ site.s3bucket }}/images/campaigns/campaign--pghpy.jpg" class="w-100">

        <h4 class="text-center mt-2">
          Learn Python in PGH
        </h4>

          <p>
            Join motivated learners like you @ 7-9pm in East Liberty for on-going instruction
          </p>

          <p>
            Enroll and start coding today, attend the next scheduled weekly class
          </p>

          <p>
            Register to audit a class for free to meet our instructors.
          </p>

        <div class="text-center">
          <button type="button" class="btn btn-md btn-primary" data-dismiss="modal" aria-label="Close">
            See Dates
          </button>
        </div>

      </div>
      <div class="modal-footer">
        {% include tos-plug.html %}
      </div>
    </div>
  </div>
</div>
