<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Starter</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $9<small class="text-muted">/mo.</small>
            </h1>
            <hr />
            Access to Member Portal
            <hr />
            Web Foundations Sessions
            <hr />
            Speaker Circuit
            <hr />
            <mark>25% OFF</mark> Coding Series
            <br />
            <br />
            <button
              type="button"
              class="btn btn-lg btn-block btn-outline-primary ga-click-event"
              data-sku="sku_Eu5OUGiqjxHrDF"
              data-skutest="sku_Eu5YGyROjpIo0j"
              data-membership="starter"
              ga-label="Starter"
              ga-category="membership"
              data-toggle="modal"
              data-target="#tos--accept-modal"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $139<small class="text-muted">/mo.</small>
            </h1>
            <hr />
            All benefits of Starter and...
            <hr />
            Feature Sessions
            <hr />
            On-demand Code Reviews
            <hr />
            <mark>50% OFF</mark> Coding Series
            <br />
            <br />
            <button
              type="button"
              class="btn btn-lg btn-block btn-primary ga-click-event"
              data-sku="sku_Eu5PXNfPXCgLEd"
              data-skutest="sku_Eu5Zgd3Zw8ScZU"
              data-membership="premium"
              ga-label="Premium"
              ga-category="membership"
              data-toggle="modal"
              data-target="#tos--accept-modal"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              $349<small class="text-muted">/mo.</small>
            </h1>
            <hr />
            All benefits of Premium and...
            <hr />
            Upskill Sessions
            <hr />
            In-person Code Coaching
            <hr />
            <mark>75% OFF</mark> Coding Series
            <br />
            <br />
            <button
              type="button"
              class="btn btn-lg btn-block btn-outline-primary ga-click-event"
              data-sku="sku_Eu5PlIQQzno1hN"
              data-skutest="sku_Eu5ZVyvNuiwDeT"
              data-membership="pro"
              ga-label="Pro"
              ga-category="membership"
              data-toggle="modal"
              data-target="#tos--accept-modal"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>

    </div>


    <div class="row mt-3">
      <div class="col text-center">
        <p>
          <!-- $199 for Enrollment & Activation is applied to each new member account.
          <br /> -->
          You may cancel your membership at anytime prior to your account billing date.
          <br />
          An active membership is your acceptance of our <a href="/tos" target="_blank">terms of service</a>.
        </p>
      </div>
    </div>
  </div>
</div>
