<div class="container">
  <div class="row mb-2">

    <!-- get started -->
    <div class="col-sm-12 mb-4">
      <!-- <h2 class="featurette-heading mb-1">
        Get Started
      </h2>
      <h3 class="text-muted mb-4">
        A year from now, you will wish that you started today!
      </h3> -->

      <div class="list-group mb-3">
        <div class="list-group-item d-lg-flex bg-light p-4">
          <div class="input-group">
            <div class="text-success p-4">
              <h4 class="my-0 mb-2">15-Minute Discovery</h4>
              <div class="text-muted">
                Schedule a call with an Upstream Mentor to discuss what you want to accomplish and determine the best approach for you to learn how to code.
              </div>
            </div>
            <div class="p-4">
              <button
                type="button"
                class="btn btn-lg btn-block btn-primary ga-click-event"
                ga-label="Schedule Call"
                ga-category="getStarted"
                onclick="Calendly.showPopupWidget('https://calendly.com/upstreamcoding/15min/webdev');return false;"
              >
                Schedule Call
              </button>
            </div>
          </div>
        </div>

        <div class="list-group-item d-lg-flex p-4">
          <div class="input-group">
            <div class="p-4">
              <h5 class="my-0 mb-2">2-Hour Group Workshop</h5>
              <div class="text-muted">
                Reserve your seat in an upcoming workshop to learn the basics of web development by building a website with HTML, CSS and JavaScript.
              </div>
            </div>
            <div class="p-4">
              <a
                class="btn btn-md btn-block btn-outline-primary ga-click-event"
                href="/events"
                role="button"
                ga-label="Upcoming Workshops"
                ga-category="getStarted"
              >
                Upcoming Workshops
              </a>
            </div>
          </div>
        </div>

        <div class="list-group-item d-lg-flex p-4">
          <div class="input-group">
            <div class="p-4">
              <h5 class="my-0 mb-3">1-on-1 Coding Sessions</h5>
              <div class="text-muted">
                Schedule a 90-minute pair programming session with an industry expert to improve your coding skills and get assistance building websites and web apps.
              </div>
            </div>
            <div class="p-4">
              <a
                scroll-top="[name=anchor--pricing]"
                class="btn btn-md btn-block btn-outline-primary ga-click-event scroll-to"
                href="javascript:void(0);"
                role="button"
                ga-label="Learn more"
                ga-category="getStarted"
              >
                Learn more
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
