<div class="slicky-slider responsive-container">
    {% for image in site.data.photos.photos-pre %}
        <img src="{{ image.src }}" class="img-thumbnail apprentice-pic rounded mx-auto slicky_modal">
      {% endfor %}
  </div>

<div id="myModal" class="modal vw-100">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <img id="modalImg" src="" alt="modal image" />
  </div>
</div>

<script>
  $('.slicky_modal').on('click', function(e) {
    openModal(e.target.dataset.img);
  })

  function openModal(img) {
    $('#modalImg').attr('src', img);
    $('#myModal').show();
  }

  function closeModal() {
    $('#myModal').hide();
  }
</script>