<style>

  @media (max-width: 575.98px) {
    .membership-table--container {
      display: none;
    }
 }

</style>

<div class="d-block d-sm-block d-md-none">
  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab-mobile-nav" role="tablist">
      <li class="nav-item">
      <a class="nav-link active" id="pills-young-tab" data-toggle="pill" href="#pills-young" role="tab" aria-controls="pills-young" aria-selected="true">young</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-controls="pills-individual" aria-selected="false">individual</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="false">basic</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pills-corporate-tab" data-toggle="pill" href="#pills-corporate" role="tab" aria-controls="pills-corporate" aria-selected="false">corporate</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pills-patron-tab" data-toggle="pill" href="#pills-patron" role="tab" aria-controls="pills-patron" aria-selected="false">patron</a>
      </li>
  </ul>
  <!--END Mobile Nav-->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active"
                id="pills-young"
                role="tabpanel"
                aria-labelledby="pills-young-tab">
                {% include membership/benefits/membership-levels.html/young.html %}
            </div>
            <div class="tab-pane fade"
            id="pills-individual"
            role="tabpanel"
            aria-labelledby="pills-individual-tab">
                {% include membership/benefits/membership-levels.html/individual.html %}
            </div>
            <div class="tab-pane fade"
            id="pills-basic"
            role="tabpanel"
            aria-labelledby="pills-basic-tab">
                {% include membership/benefits/membership-levels.html/basic.html %}
            </div>
            <div class="tab-pane fade"
            id="pills-corporate"
            role="tabpanel"
            aria-labelledby="pills-corporate-tab">
                {% include membership/benefits/membership-levels.html/corporate.html %}
            </div>
            <div class="tab-pane fade"
            id="pills-patron"
            role="tabpanel"
            aria-labelledby="pills-patron-tab">
                {% include membership/benefits/membership-levels.html/patron.html %}
            </div>
        </div>
</div>


<div id="series-addon" class="membership-table--container shadow-sm p-3 mb-5 bg-white rounded" style="display:none">
  <table class="membership-table">
    <thead>
      <tr>
        <th class="young">Young Professional</th>
        <th class="individual">Individual</th>
        <th class="basic">Basic</th>
        <th class="default">Corporate</th>
        <th class="patron">Patron</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        <!--<td>
          {% include instruction/cards/javascript.html %}
          {% include instruction/cards/python.html %}
          {% include instruction/cards/react.html %}
          {% include instruction/cards/kotlin.html %}
        </td>-->
        <!--<td>
          <span class="txt-top">$</span>
          <span class="txt-l">9</span>
        </td> -->
        <td class="young">
          <div class="series-addon-price" series="javascript">
            <span class="txt-top">$</span>
            <span class="txt-l">1,199</span>
          </div>
          (one-time fee)
          <br />
          <a href="/membership" title="Remove Coding Series">Remove Coding Series</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="series-addon" class="membership-table--container shadow-sm p-3 mb-5 bg-white rounded" style="display:none">
  <table class="membership-table">
    <thead>
      <tr>
        <th class="hide"></th>
        <th class="individual">individual</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        
        <!-- <td>
          <span class="txt-top">$</span>
          <span class="txt-l">9</span>
        </td> -->
        <td class="individual">
          <div class="series-addon-price" series="javascript">
            <span class="txt-top">$</span>
            <span class="txt-l">1,199</span>
          </div>
          (one-time fee)
          <br />
          <a href="/membership" title="Remove Coding Series">Remove Coding Series</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="series-addon" class="membership-table--container shadow-sm p-3 mb-5 bg-white rounded" style="display:none">
  <table class="membership-table">
    <thead>
      <tr>
        <th class="hide"></th>
        <th class="basic">basic</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        
        <!-- <td>
          <span class="txt-top">$</span>
          <span class="txt-l">9</span>
        </td> -->
        <td class="basic">
          <div class="series-addon-price" series="javascript">
            <span class="txt-top">$</span>
            <span class="txt-l">1,199</span>
          </div>
          (one-time fee)
          <br />
          <a href="/membership" title="Remove Coding Series">Remove Coding Series</a>
        </td>
      </tr>
    </tbody>
  </table>
</div><div id="series-addon" class="membership-table--container shadow-sm p-3 mb-5 bg-white rounded" style="display:none">
  <table class="membership-table">
    <thead>
      <tr>
        <th class="hide"></th>
        <th class="default">Corporate</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        
        <!-- <td>
          <span class="txt-top">$</span>
          <span class="txt-l">9</span>
        </td> -->
        <td class="default">
          <div class="series-addon-price" series="javascript">
            <span class="txt-top">$</span>
            <span class="txt-l">1,199</span>
          </div>
          (one-time fee)
          <br />
          <a href="/membership" title="Remove Coding Series">Remove Coding Series</a>
        </td>
      </tr>
    </tbody>
  </table>
</div><div id="series-addon" class="membership-table--container shadow-sm p-3 mb-5 bg-white rounded" style="display:none">
  <table class="membership-table">
    <thead>
      <tr>
        <th class="hide"></th>
        <th class="patron">Patron</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        
        <!-- <td>
          <span class="txt-top">$</span>
          <span class="txt-l">9</span>
        </td> -->
        <td class="patron">
          <div class="series-addon-price" series="javascript">
            <span class="txt-top">$</span>
            <span class="txt-l">1,199</span>
          </div>
          (one-time fee)
          <br />
          <a href="/membership" title="Remove Coding Series">Remove Coding Series</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="membership-table--container shadow-sm mb-5 bg-white rounded">
  <table class="membership-table">
            <!-- Start LG screen nav tabs -->
    <thead>
      <tr>
        <th class="young"></th>
        <th>Young Professional
        </th>
        <th class="individual">
          <div class="regular-price">
            Individual
          </div>
        </th>
          <th class="basic">
             Basic
            </th>
            <th class="default">
              Corporate
        </th>
        <th class="patron">
          Patron
    </th>
        <!-- <th>Pro</th> -->
      </tr>
    </thead>
    <!-- END LG screen nav tabs -->
    <tbody class="bg-white">
      <!--<tr>
        <td>
          <div id="discount-application" class="discount-elem-hidden mb-3">
            <br />
            <label for="application--promo">
              <span class="text-muted">
                Promo Code <i class="fas fa-check-circle text-keppel"></i>
                <a href="/membership" title="Remove Promo Code" class="ml-3">
                  Remove
                </a>
              </span>
            </label>
            <input name="promo" type="text" class="form-control w-auto" id="application--promo" />
          </div>
        </td>
        <td>
          <span class="txt-top">$</span>
          <span class="txt-l">75</span>
        </td>
      </tr>-->


<div class="container">
      {% include membership/benefits/learn-source.html %}
      </div>

      {% comment %}
      {% include membership/benefits/deals.html %}
      {% endcomment %}
    </tbody>
  </table>




<div class="mt-5 text-center text-white px-3">
  <p>
    <!-- $199 for Enrollment & Activation is applied to each new member account.
    <br /> -->
    You may cancel your membership at anytime prior to your account billing date.
    <br />
    An active membership is your acceptance of our <a class="text-white text-underline" href="/tos" target="_blank">terms of service</a>.
  </p>
</div>
