<tr>
  <td colspan="4" class="sep">Equipment Deals</td>
</tr>
<tr>
  <td>
    <h5>
      MacBook Laptops
    </h5>
    <p>
      Save on refurbished 13" MacBook Pro or MacBook Air Laptops from <a href="https://experimax.com/repairs/edgewood-pa/" target="_blank">Experimax</a>.
    </p>
    <p>
      <b>Retail Value:</b> ~$800
    </p>
    <p>
      Minimum specifications:
    </p>
    <p>
      <ul>
        <li>2.0 GHz processor or greater</li>
        <li>2.0 GHz processor or greater</li>
        <li>4 GB RAM</li>
        <li>250 GB HDD</li>
        <li>wi-fi enabled</li>
      </ul>
    </p>
  </td>
  <td></td>
  <td class="default"><b>$450</b></td>
  <td><b>$450</b></td>
</tr>
