<tr>
  <td colspan="4" class="sep">
    <h4>
      Intensives
    </h4>
    <div>
      Focused instruction covering advanced technologies, languages and frameworks to create complex applications and systems.
    </div>
  </td>
</tr>

<tr>
  <td>
    <h5>
      React
    </h5>
    <p>
      Build and deploy dynamic web apps with React & Node that are optimized for web and mobile.
    </p>
    <p>
      Instruction is on-going, meeting weekly to build dynamic web app through React based exercises and projects.
      <ul>
        <li class="mb-3">
          <b>3 days</b>, <code>4hrs./day</code>
        </li>
        <li class="mb-3">
          <b>Scheduled based on registration</b> <code>Online</code> <!-- & <code>In-Person</code> -->
        </li>
        <li>
          <b>Prerequisite</b>: <a href="/instruction/orbits/web-development" title="JavaScript">JavaScript</a> or pass JavaScript assessment.
        </li>
      </ul>
    </p>
  </td>
  <td>
    <b>$1,199</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <td class="default">
    <b>$599</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <!-- <td>
    <b>$199</b>
  </td> -->
</tr>

<tr>
  <td>
    <h5>
      Python
    </h5>
    <p>
      Master programming basics, learn about databases and deployment.
    </p>
    <p>
      Instruction is on-going, meeting weekly to prepare members for our <a href="/instruction/orbits/kotlin" title="Kotlin">Kotlin</a> through Python based exercises and projects.
      <ul>
        <li class="mb-3">
          <b>3 days</b>, <code>4hrs./day</code>
        </li>
        <li class="mb-3">
          <b>Scheduled based on registration</b> <code>Online</code> <!-- & <code>In-Person</code> -->
        </li>
        <li>
          <b>Prerequisite</b>: <a href="/instruction#web-foundations" title="Web Foundations">Web Foundations</a> or pass Web Foundations assessment
        </li>
      </ul>
    </p>
  </td>
  <td>
    <b>$1,199</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <td class="default">
    <b>$599</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <!-- <td>
    <b>$199</b>
  </td> -->
</tr>

<tr>
  <td>
    <h5>
      Kotlin
    </h5>
    <p>
      Create robust backend services, and work with complex build systems and testing frameworks.
    </p>
    <p>
      Instruction is on-going, meeting weekly to build scalable server-side software, through Kotlin based exercises and projects.
      <ul>
        <li class="mb-3">
          <b>3 days</b>, <code>4hrs./day</code>
        </li>
        <li class="mb-3">
          <b>Scheduled based on registration</b> <code>Online</code> <!-- & <code>In-Person</code> -->
        </li>
        <li>
          <b>Prerequisite</b>: <a href="/instruction/orbits/python" title="Python">Python</a> or pass Python assessment.
        </li>
      </ul>
    </p>
  </td>
  <td>
    <b>$1,199</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <td class="default">
    <b>$599</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <!-- <td>
    <b>$199</b>
  </td> -->
</tr>
