<div class="d-none d-xs-none d-md-block">
<tr>
  <td>
    <h5>
      GACC EVENTS
    </h5>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
</tr>
<tr><td>Invitation to events</td>
  <td class="young"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="individual"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>RSVP & waitlist priority</td>
  <td class="young"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="individual"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr><td>Reduced member admission at GACC events</td>
  <td class="young"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="individual"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 1 person</p></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 2 persons</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 3 persons</p></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 4 persons</p></td>
</tr>
<tr>
  <td>Invitation to special VIP events</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="individual member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="default member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
  <!-- <td><i class="member-benefit fas fa-check-circle"></i></td> -->
 <tr>
  <td>Co-hosting an event with GACC</td>
 <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="basic"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>
    <h5>
      MEMBERSHIP DIRECTORY LISTINGS
    </h5>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td>Online Directory</td>
   <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
   <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
   <td class="basic"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">1 contact listed</p></td>
   <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">2 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
   <td class="patron"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">4 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
  </tr>
  <tr><td>Annual Print Directory</td>
    <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="basic"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">1 contact listed</p></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">2 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
    <td class="patron"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">4 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
</tr>
<tr>
  <td>
    <h5>
      GACC PUBLICATION & MEDIA
    </h5>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>Access to membership directory</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online</p></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online & print</p></td>
</tr>
<tr>
  <td>Discount in "Subsidiaries to German Firms in the U.S." directory <a href="http://www.germancompanies.us)" target="_blank" rel="noopener noreferrer">germancompanies.us</a></td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
<td>Electronic subscription of the GAT magazine</td>
<td class="young"><i class="member-benefit fas fa-check-circle"></i></td>
<td class="individual"><i class="member-benefit fas fa-check-circle"></i></td>
<td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
<td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
<td class="patron"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">digital + print</p></td>
</tr>
<tr>
  <td>Exposure in GACCPIT online publications</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>GACC Economic Yearbook</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
 <tr> <td>Press releases on GACC's website</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>Special recognition on GACC website</td>
  <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="basic"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>
    <h5>
      ADDITIONAL BENEFITS
    </h5>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </td>
</tr>
  <tr>
    <td>Business referrals & introductions</td>
    <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>Membership certificate</td>
    <td class="young"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="individual"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>Post job openings on our JobXchange platform</td>
    <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="basic"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>VAT Refund Assistance</td>
    <td class="young"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="individual"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="basic"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="patron"><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
</div>