<tr class="bg-gray">
  <td style="display:none"></td>
  <td class="membership-btn-cell">
    <!-- <button
      type="button"
      class="btn btn-lg btn-block btn-secondary ga-click-event"
      data-sku="sku_Eu5OUGiqjxHrDF"
      data-skutest="sku_Eu5YGyROjpIo0j"
      data-plan="plan_F7TVvsJ4aIAicz"
      data-plantest="plan_F7staRwhfGC0ES"
      data-membership="starter"
      ga-label="Starter"
      ga-category="membership"
      data-toggle="modal"
      data-target="#tos--accept-modal"
    >
      Sign Up
    </button> -->
    <a
      href="https://app.turbinelms.com/login/upstreamcoding?action=signup&userLocationId=6Mrrk5VeyUKjs0ROPaCIWJ&hideLocation=true"
      class="btn btn-lg btn-block btn-secondary ga-click-event"
      ga-label="Starter"
      ga-category="membership"
      target="_blank"
    >
      $75
    </a>
  </td>
  <td class="default membership-btn-cell">
    <a href="https://gaccpittsburgh.wildapricot.org/become-a-member" target="_blank" rel="noopener noreferrer">
      <button
        type="button"
        class="btn btn-lg btn-block btn-primary ga-click-event"
      >
        $250
      </button>
    </a>
  </td>
  <td class="default membership-btn-cell">
    <a href="https://gaccpittsburgh.wildapricot.org/become-a-member" target="_blank" rel="noopener noreferrer">
      <button
        type="button"
        class="btn btn-lg btn-block btn-primary ga-click-event"
      >
        $400
      </button>
    </a>
  </td>
  <td class="membership-btn-cell">
    <a href="https://gaccpittsburgh.wildapricot.org/become-a-member" target="_blank" rel="noopener noreferrer">
      <button
        type="button"
        class="btn btn-lg btn-block btn-primary ga-click-event"
      >
        $900
      </button>
    </a>
  </td>

  <td class="membership-btn-cell">
    <a href="https://gaccpittsburgh.wildapricot.org/become-a-member" target="_blank" rel="noopener noreferrer">
    <button
      type="button"
      class="btn btn-lg btn-block btn-primary ga-click-event"
    >
      $1990
    </button>
  </a>
  </td>
</tr>

<!-- <tr>
  <td>
    <h5>
      <mark>Free Trial</mark>
    </h5>
    <p>
      Your first 7 days are on us! Sign up and start Web Foundations in the member portal today.
    </p>
  </td>
  <td><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"></td>
  <td></td>
</tr> -->

<tr>
  <td>
    <h5>
      GACC EVENTS
    </h5>
  </td> 
  <td></td>
  <td></td>
  <td></td>
  <td></td>
<tr>
</tr>
<tr><td>Invitation to events</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td></tr>
<tr>  <td>RSVP & waitlist priority</td>

  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td></tr>
<tr><td>Reduced member admission at GACC events</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 1 person</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 2 persons</p></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 3 persons</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">for 4 persons</p></td></tr>
<tr><td>Invitation to special VIP events</td>
  <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class=""><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td></tr>
  <!-- <td><i class="member-benefit fas fa-check-circle"></i></td> -->
</tr>
 <tr><td>Co-hosting an event with GACC</td>
 <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class=""><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
 <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>
    <h5>
      MEMBERSHIP DIRECTORY LISTINGS
    </h5>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
   <td>Online Directory</td>
   <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
   <td class=""><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
   <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">1 contact listed</p></td>
   <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">2 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
   <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">4 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
  </tr>
  <tr><td>Annual Print Directory</td>
    <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class=""><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">1 contact listed</p></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">2 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">4 contacts listed</p><p style="font-size: 10px; margin-bottom: 0px;">biz logo & profile</p></td>
</tr>
<tr>
  <td>
    <h5>
      GACC PUBLICATION & MEDIA
    </h5>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>Access to membership directory</td>
  <td class="default"><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class=""><i class="member-benefit far fa-times-circle" style="color: red;"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online</p></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i><p style="font-size: 10px; margin-bottom: 0px;">online & print</p></td>
</tr>
<tr>
  <td>Member discount for directory "Subsidiaries to German Firms in the U.S." (www.germancompanies.us)</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
<td>Electronic subscription of the GAT magazine</td>
<td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
<td class=""><i class="member-benefit fas fa-check-circle"></i></td>
<td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
<td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
<td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>Exposure in GACCPIT online publications</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>GACC Economic Yearbook</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
 <tr> <td>Press releases on GACC's website</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>Special recognition on GACC website</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
<tr>
  <td>
    <h5>
      ADDITIONAL BENEFITS
    </h5>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </td>
</tr>
<tr>
  <td>Special recognition on GACC website</td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
</tr>
  <tr>
    <td>Business referrals & introductions</td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>Membership certificate</td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>Your job openings on our JobXchange platform and browse a list of applicants</td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>
  <tr>
    <td>VAT refund (Assistance in obtaining business-related sales tax refunds after traveling in Germany)</td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
    <td class=""><i class="member-benefit fas fa-check-circle"></i></td>
  </tr>





<!-- <tr>
  <td>
    <h5>
      Office Hour
    </h5>
    <p>
      Weekly group office hours to answer questions and go over HTML, CSS, JavaScript, jQuery, Bash, Git & GitHub.
      <ul>
        <li>
          <b>Wednesday</b> <code>7-8pm</code>
        </li>
        <br />
        <li>
          <b>Weekly</b> <code>Online</code>
        </li>
      </ul>
    </p>
  </td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
</tr> -->

<!-- <tr>
  <td>
    <h5>
      Personal Code Coaching
    </h5>
    <p>
      <b>Customized by You</b>
      <br />
      Upstream staff are available to pair-program and provide private tutoring on a number of frontend and backend programming languages.
      <ul>
        <li>
          <b>On-Demand</b> <code>Online</code>
        </li>
        <br />
        <li>
          Max: Four 60-min sessions/mo.
        </li>
      </ul>
    </p>
  </td>
  <td></td>
  <td class="default">
    <b>$299/mo.</b>
  </td>
  <td><i class="member-benefit fas fa-check-circle"></i></td>
</tr> -->

<!-- <tr>
  <td>
    <h5>
      Whiteboard Coaching
    </h5>
    <p>
      <b>Customized by You</b>
      <br />
      Prepare for the whiteboarding portion of the developer interview process by working out solutions to problems with instructors on a whiteboard.
      <ul>
        <li>
          <b>On-Demand</b> <code>Online</code>
        </li>
        <br />
        <li>
          Max: Four 60-min sessions/mo.
        </li>
      </ul>
    </p>
  </td>
  <td class="default">
    <b>$299/mo.</b>
  </td>
</tr> -->

