<tr>
  <td colspan="4" class="sep">
    <h4>
      Coding Orbits
    </h4>
    <div>
      Weekly live instruction to build programming skills through repetition of exercises and projects.
    </div>
  </td>
</tr>

<tr>
  <td>
    <h5>
      Web Foundations
    </h5>
    <p>
      Members begin building a strong foundation in web development and prepare for other Orbits & Intensives.
    </p>
    <p>
      Instruction is on-going, meeting weekly to strengthen skills through exercises and projects covering HTML, CSS, UI Toolkits and jQuery.
      <ul>
        <li class="mb-3">
          <b>Wednesday</b> <code>7-9pm</code>
        </li>
        <li class="mb-3">
          <b>Weekly</b> <code>Online</code>
        </li>
        <li>
          <b>Prerequisite</b>: n/a
        </li>
      </ul>
    </p>
  </td>
  <td><i class="member-benefit fas fa-check-circle"></i></td>
  <td class="default"><i class="member-benefit fas fa-check-circle"></i></td>
</tr>

<!-- <tr>
  <td>
    <h5>
      Interview Prep
    </h5>
    <p>
      Prepare for the tech interview process from what to wear to code challenges.
      <ul>
        <li>
          <b>On-Demand</b> <code>Online</code>
        </li>
      </ul>
    </p>
  </td> -->
  <!-- <td></td> -->
  <!-- <td class="default">
    <i class="member-benefit fas fa-check-circle"></i>
  </td> -->
  <!-- <td>
    <i class="member-benefit fas fa-check-circle"></i>
  </td> -->
<!-- </tr> -->

<tr>
  <td>
    <h5>
      Web Dev
    </h5>
    <p>
      Members learn the foundations of modern frontend web development, and the collaborative coding skills required of developers today.
    </p>
    <p>
      Instruction is on-going, meeting weekly to prepare members for our <a href="/instruction/orbits/javascript" title="JavaScript">JavaScript</a> through exercises and projects covering HTML, CSS, jQuery and code refactoring.
      <ul>
        <li class="mb-3">
          <b>Tuesday</b> <code>7-9pm</code>
        </li>
        <li class="mb-3">
          <b>Weekly</b> <code>Online</code> <!-- & <code>In-Person</code> -->
        </li>
        <li>
          <b>Prerequisite</b>: <a href="/instruction#web-foundations" title="Web Foundations">Web Foundations</a>
        </li>
      </ul>
    </p>
  </td>
  <td>
    <b>$599</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <td class="default">
    <div class="regular-price">
      <i class="member-benefit fas fa-check-circle"></i>
    </div>
    <div promo="together" class="discount-text">
      (not included in free trial)
      <br />
      <a href="/membership" title="Remove Free Trial">Remove Free Trial</a>
    </div>
    <div promo="audit" class="discount-text">
      (not included in free trial)
      <br />
      <a href="/membership" title="Remove Free Trial">Remove Free Trial</a>
    </div>
    <div promo="hardship" class="discount-text">
      <i class="member-benefit fas fa-check-circle"></i>
    </div>
  </td>
</tr>

<tr>
  <td>
    <h5>
      JavaScript
    </h5>
    <p>
      Master JS fundamentals to the latest features available in ES6+.
    </p>
    <p>
      Instruction is on-going, meeting weekly to prepare members for our <a href="/instruction/orbits/react" title="React">React</a> through JavaScript based exercises and projects.
      <ul>
        <li class="mb-3">
          <b>Monday</b> <code>7-9pm</code>
        </li>
        <li class="mb-3">
          <b>Weekly</b> <code>Online</code> <!-- & <code>In-Person</code> -->
        </li>
        <li>
          <b>Prerequisite</b>: <a href="/instruction/orbits/web-development" title="Web Foundations">Web Dev</a> or pass web assessment.
        </li>
      </ul>
    </p>
  </td>
  <td>
    <b>$1,199</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <td class="default">
    <b>$599</b>
    <br />
    <span class="text-muted" title="One-time Enrollment Fee">(one-time fee)</span>
  </td>
  <!-- <td>
    <b>$199</b>
  </td> -->
</tr>
