<div class="container-fluid bg-dark mb-3">
<div class="d-flex flex-column">
  {% for quote in site.data.factoids | limit:1 %}
    <!--<div class="card-header">
      Retention
    </div>-->
    <div class="card-body">
      <blockquote class="blockquote mb-0" id="factoids">
        <div class="d-flex flex-row">
        <i class="fas fa-quote-left fa-3x px-3" style="color: #fff;"></i> <p class="factoids-text">{{ quote.description }}</p>
      </div>
        <footer class="blockquote-footer float-right"><a href="{{ quote.href }}" target=_blank><cite title="Source Title"><em>{{ quote.title }}</em></cite></a><b>{% if quote.source %} {{ quote.source }} {% endif %}</b> <b>{% if quote.date %}, {{ quote.date }} {% endif %}</b></footer>
      </blockquote>
    </div>
  {% endfor %}
  </div>
</div>