<style>
    .de-logos {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: start;
    }
  
    .de-logos a {
      margin: 5px;
    }
  
    .de-logos a img {
      transition: height 1s;
    }
  
  #industry {
    margin-top: 5px;
    text-decoration: underline;
    text-decoration-color: #ffd32a;
  }
  
  .img-de-logos {

      }
  
    @media (max-width: 767.98px) {
  

    .de-logos {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
    }

      .img-de-logos { 
          height: auto !important; 
          width: 100%;
      }
    }
  </style>

    <div class="d-flex de-logos">
        {% for org in site.data.de-logos %}
      <a
        title="{{ org.name }}"
        href="{{ org.href }}"
        target="_blank"
      >
        <img
          class="img-thumbnail img-de-logos"
          src="{{ org.src }}"
          alt="{{ org.name }}"
        />
      </a>
      {% endfor %}
    </div>