<div class="container">
  <h2 class="mb-3 text-center">FAQs</h2>
  <div class="accordion" id="apprenticeshipFAQ">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            The German Factor
          </button>
        </h3>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#apprenticeshipFAQ">
        <div class="card-body">
          <p>
            As Pittsburgh Chapter of the German American Chamber of Commerce we are directly connected to the German IHK (Chamber of Industry and Commerce) and therefore have access to a pool of 360 state-of-the-art Apprenticeship modules that have been established in Germany for decades. With adapting the Dual Apprenticeship program we include the skills and competencies required from the German IHK for the job profiles and modified them into a two-year program to make them a better fit for the companies in the American market.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Company-first Approach
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#apprenticeshipFAQ">
        <div class="card-body">
          Since our Apprenticeship program is highly company-oriented, it is our goal to fully understand your business and the required skill set for your workforce. With that in mind we can adjust the program’s curriculum to guarantee a workforce tailored to your company needs with apprentices that will have a leg up on their competition, since they receive hands-on experience while simultaneously learning theory.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What is the education component of an apprenticeship.
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#apprenticeshipFAQ">
        <div class="card-body">
          GACC works closely with the community colleges, career and technical centers and other credentialing institutions in the areas closest to where our apprentices live or work. The education partner awards academic credit for completion of instructions that may be delivered in a classroom on a community college campus or online either synchronously or asynchronously.
          <div class="d-flex responsive-container">
          <div class="col-sm-12 col-md-6">
           <img class="img-fluid mx-auto align-items-center" src="/assets/img/work-with-cc-ctc.svg" alt="GACC Community Colleges Partnerships" />
          </div>
          <div class="col-sm-12 col-md-6">
          <img class="img-fluid mx-auto align-items-center" src="/assets/img/jacob-graleski-and-justin-starr.jpeg" alt="Prof. Starr & Student" />
        </div>
      </div>
      </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Registered with the PA Dept. of Labor and Industry
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#apprenticeshipFAQ">
        <div class="card-body">
          <p>
            All of our Apprenticeship Programs are registered by the State of Pennsylvania’s Department of Labor and Industry and have been approved by the Pennsylvania Apprenticeship and Training Council and the Federal Committee on Apprenticeship. Because of that, the GACC Pittsburgh Chapter, is eligible to issue journeymen paper upon completion of the Apprenticeship program.
          </p>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h3 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Grants & Funding
            </button>
          </h3>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#apprenticeshipFAQ">
          <div class="card-body">
            <p>
              With our broad network and contacts to the PA State Department of Labor and Industry and other county workforce development boards we are always looking for additional funding to minimize the investment on the company side. Those grants can help pay the apprentices tuition fees and their wages.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h3 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              How can the GACC, Pittsburgh Chapter assist you?
            </button>
          </h3>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#apprenticeshipFAQ">
          <div class="card-body">
            <p>Our services include consulting, organization and quality assurance for apprenticeship programs according to German standards.</p>
            <ul>
            <li>Program Development & Management</li>
            <li>Train the Trainer Courses & AdA-International Certification</li>
            <li>DIHK certification of new and existing programs</li>
            <li>Advice regarding new in-house programs</li>
            <li>Recruiting of qualified students and applicants</li>
            <li>Preparation and execution of IHK examinations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
</div>
