<div class="section section--index-instagram py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col col-sm-12">
        </div>
      </div>
      <div class="row text-center">
        <div class="col col-sm-12 col-lg-6">
         <img src="/assets/img/turbine-screenshots/GACC-catalog-page.png" class="img-thumbnail" alt="">
        </div>
        <div class="col col-sm-12 col-lg-6">
            <img src="/assets/img/turbine-screenshots/student-portal--cool-shades.jpeg" class="img-thumbnail" alt="">
        </div>
      </div>
      <div class="row text-center">
        <div class="col col-sm-12 col-lg-6">
         <img src="/assets/img/turbine-screenshots/mechatronics-turbine-workforce1.png" class="img-thumbnail" alt="">
        </div>
        <div class="col col-sm-12 col-lg-6">
            <img src="assets/img/turbine-screenshots/gif-Mechatronics Pathway-high.gif" class="img-thumbnail" alt="">
        </div>
      </div>
    </div>
  </div>
  