---
layout: default
---

<div class="container">
  <div class="row py-5">
    <nav aria-label="breadcrumb bg-white">
      <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item bg-white"><a href="/">Home</a></li>
          {% if page.back %}
          <li class="breadcrumb-item active bg-white underlinzz" aria-current="page"><a href="{{ page.backhref }}">{{ page.back }}</a></li>
         {% endif %}
        </ol>
      </nav>
    <div class="col-sm-12 text-center">
      <h1 class="underlinzz m-auto">
        {{ page.title }}
      </h1>
    </div>
  </div>
  {{ content }}
</div>

