<div class="jumbotron py-4">
  <h1 class="text-center">
    Live Streaming Coding Instruction
  </h1>
  <p class="lead text-center">
    <mark>Due to COVID-19</mark>, all instruction is now Online.
  </p>
  <div id="carousel-live-streaming-coding" class="carousel mb-4 slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="{{ site.s3bucket }}/images/online--01.jpg" class="w-100" />
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="{{ site.s3bucket }}/images/online--02.jpg" class="w-100" />
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="{{ site.s3bucket }}/images/online--03.jpg" class="w-100" />
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="{{ site.s3bucket }}/images/online--04.jpg" class="w-100" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-live-streaming-coding" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-live-streaming-coding" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <p class="lead text-center">
    <span class="font-weight-normal">
      In-person classroom instruction will resume when we are able.
    </span>
  </p>
</div>
