<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
      <div class="card p-3 d-inline-block bg-dark">
        <h1 class="text-center text-white">
          The German Dual Apprenticeship System
        </h1>
        <h5 class="text-center text-white">
          How it Works.
        </h5>
        <br />
        <p class="text-white">
        The German dual Apprenticeship system in Pittsburgh and can currently offer four different training programs. The goal is to train high school students as well as other employees who already work in the company, through the apprenticeship program and to provide them with the skills and abilities needed in the company. It is a very good alternative to avoid the high costs of studying as companies pay for the tuition costs during the training period.
        </p>
        <div class="container">
            <div class="row">
            <!-- testimonial 1 -->
            <div class="col-sm-12 col-lg-4">
                <div class="card h-100 no-hover p-3 p-sm-5 mb-5">
                <h1 class="card-title text-center py-5">
                    <strong>for Career Seekers</strong>
                    </h1>
                <p class="mx-auto">
        <a
        class="btn btn-lg btn-primary ga-click-event"
        href="/for-career-seekers"
        ga-label="for workers"
        ga-category="index"
        title="For Skill Seekers"
        >
More
        </a>
        </p>
                </div>
            </div>
            <!-- testimonial 2 -->
            <div class="col-sm-12 col-lg-4">
                <div class="card h-100 no-hover p-3 p-sm-5 mb-5">
                <h1 class="card-title text-center py-5">
                    <strong>for Employers</strong>
                    </h1>
                <p class="mx-auto">
        <a
        class="btn btn-lg btn-primary ga-click-event"
        href="/for-employers"
        ga-label="For Employers"
        ga-category="index"
        title="for Employers"
        >
More
        </a>
                </p>
                </div>
            </div>
             <!-- testimonial 3 -->
             <div class="col-sm-12 col-lg-4">
              <div class="card h-100 no-hover p-3 p-sm-5 mb-5">
              <h1 class="card-title text-center py-5">
                  <strong>for Educators</strong>
                  </h1>
              <p class="mx-auto">
      <a
      class="btn btn-lg btn-primary ga-click-event"
      href="/for-educators"
      ga-label="For Educators"
      ga-category="index"
      title="for Educators"
      >
      for Educators
      </a>
              </p>
              </div>
          </div>
            </div>
        </div>
      </div>
    </div>
</div>