    <style>
      .btn-primary {
        vertical-align: middle;
      }

      .pbtn {

    margin-top: auto;
    margin-bottom: auto;

      }

    </style>

    <div class="d-flex align-items-center justify-content-center" id="customer-entrypoints">
      <div class=" mt-2 p-3 d-inline-block">
        <div class="container">
            <div class="row">
            <!-- testimonial 1 -->
            <div class="col-sm-12 col-lg-4">
                <div class="card h-100 p-3 p-sm-5 mb-2">
                <div class="card-title text-center py-3">
                  <strong class="h2">Career Seekers</strong>
                </div>
                <p class="mx-auto pbtn">
        <a
        class="btn btn-lg btn-primary ga-click-event "
        href="/for-career-seekers"
        ga-label="for workers"
        ga-category="index"
        title="For Skill Seekers"
        >
More
        </a>
        </p>
                </div>
            </div>
            <!-- testimonial 2 -->
            <div class="col-sm-12 col-lg-4">
                <div class="card h-100 no-hover p-3 p-sm-5 mb-2">
                  <div class="card-title text-center py-4">
                    
                    <strong class="h2">Employers</strong>
                  </div>
                <p class="mx-auto pbtn">
        <a
        class="btn btn-lg btn-primary ga-click-event"
        href="/for-employers"
        ga-label="For Employers"
        ga-category="index"
        title="for Employers"
        >
More
        </a>
                </p>
                </div>
            </div>
             <!-- testimonial 3 -->
             <div class="col-sm-12 col-lg-4">
              <div class="card h-100 no-hover p-3 p-sm-5 mb-2">
                <div class="card-title text-center py-3">
                  
                  <strong class="h2">Educators</strong>
                </div>
              <p class="mx-auto pbtn">
      <a
      class="btn btn-lg btn-primary ga-click-event"
      href="/for-educators"
      ga-label="For Educators"
      ga-category="index"
      title="for Educators"
      >
      More
      </a>
              </p>
              </div>
          </div>
            </div>
        </div>
      </div>
    </div>