<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card mt-5 p-3 d-inline-block">
      <h1 class="text-center">
       Industry 4.0 Apprenticeship System
      </h1>
      <h5 class="text-center">
        How it Works.
      </h5>
      <br />
      <p>
      The German dual Apprenticeship system in Pittsburgh and can currently offer four different training programs. The goal is to train high school students as well as other employees who already work in the company, through the apprenticeship program and to provide them with the skills and abilities needed in the company. It is a very good alternative to avoid the high costs of studying as companies pay for the tuition costs during the training period.
      </p>
    </div>
  </div>

  <ul class="timeline">
      <!-- <li>
        <div class="timeline-panel no-arrow">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              <mark>We're Flexible.</mark>
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Learn new skills in the evening for one low monthly fee. Specialized courses can be purchased a la carte.
            </p>
            <hr />
            <p>
              Learn with us around your schedule, cancel anytime. Learning with us for <b>one year starts at $1,668</b>.
            </p>
          </div>
        </div>
      </li> -->
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              Get Started Today
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Since our Apprenticeship program is highly company-oriented, it is our goal to fully understand your business and the required skill set for your workforce.
            </p>
            <img src="{{ site.s3bucket }}/images/how-it-works--audit-class.jpg" class="w-100 my-3" />
            <p>
              With that in mind we can adjust the program’s curriculum to guarantee a workforce tailored to your company needs with apprentices that will have a leg up on their competition, since they receive hands-on experience while simultaneously learning theory.
            </p>
            <hr />
            <a class="btn btn-lg btn-primary ga-click-event" title="Sign Up" ga-label="Sign Up" ga-category="howItWorks" href="/membership">
              Sign Up
            </a>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              Upgrade & Save
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Premium membership includes <a class="ga-click-event" ga-label="Web Dev" title="Web Dev Orbit" ga-category="howItWorks" href="/instruction/orbits/web-development">Web Dev</a> and 50% discounts off our catalog of courses.
              Continue to attend any purchased Orbit Course for as long as you're a premium member.
            </p>
            <img src="{{ site.s3bucket }}/images/how-it-works--become-member-1.jpg" class="w-100 my-3" style="opacity:.7" />
            <p>
              We're flexible, cancel anytime. See <a class="ga-click-event" ga-label="Terms of Service" title="Terms of Service" ga-category="howItWorks" href="/tos">Terms of Service</a>.
            </p>
            <hr />
            <a class="btn btn-lg btn-primary" href="/membership" title="Membership" role="button">
              Membership Options
            </a>
          </div>
        </div>
      </li>
      <!-- <li class="timeline-inverted">
        <div class="timeline-panel no-arrow">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              <mark>Web Dev Included</mark>
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Our <a class="ga-click-event" ga-label="Web Development" title="Web Development" ga-category="howItWorks" href="/instruction/orbits/web-development">Web Development</a> is included with Membership. Join today and attend Tuesday nights to learn how to build websites from scratch.
            </p>
          </div>
        </div>
      </li> -->
      <li>
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-floppy-disk"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              Learn New Skills
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Whether you're a rookie just starting out or a veteran learning a new language, the only way to learn is to consistently code.
            </p>
            <img src="{{ site.s3bucket }}/images/how-it-works--attend.jpg" class="w-100 my-3" />
            <p>
              Orbital courses offer on-going live weekly instruction online. Instructors are available on <a href="https://slack.com/" target="_blank">Slack</a> to support you via chat and screen sharing.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              Member Portal
            </h4>
          </div>
          <div class="timeline-body">
            <p>
              Access code curriculum, upskill challenges and personal coaching.
            </p>
            <img src="{{ site.s3bucket }}/images/student-portal--cool-shades.jpg" class="w-100" />
            <p>
              Get up to speed on web fundamentals, no previous experience needed.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              A La Carte Enrollment
            </h4>
          </div>
          <div class="timeline-body">
            <p>
               Enroll in specialized courses to achieve your learning goals.
            </p>
            <img src="{{ site.s3bucket }}/images/how-it-works--enroll.jpg" class="w-100 my-3" />
            <p>
              Once enrolled, you can attend your courses for as long as you're a member.
            </p>
            <hr />
            <a class="btn btn-primary btn-lg" href="/instruction#development-paths" role="button">
              See Courses
            </a>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Downstream</h4>
          </div>
          <div class="timeline-body">
            <p>
              High performers can earn paid opportunities and participate in volunteer opportunities teaching kids to code in Pittsburgh.
            </p>
            <img src="{{ site.s3bucket }}/images/pittsburgh-tapestry.jpeg" class="w-100 my-3" />
            <p>
              <small>
                Image by: <a class="ga-click-event" href="https://www.maxweso.com" role="button" title="Starry Night N@ by Max Wesoloski" ga-label="" ga-category="Image Credit">Max Wesoloski</a>
              </small>
            </p>
            <hr />
            <a class="btn btn-primary btn-lg ga-click-event" href="/downstream" ga-label="Learn More" ga-category="howItWorks" href="/downstream" role="button">
              Learn More
            </a>
          </div>
        </div>
      </li>
  </ul>
</div>
