<div id="main-carousel-container" class="m-0 bg-dark">
<div id="myCarousel" class="carousel slide mb-0" data-ride="carousel">
  <div class="carousel-inner">
    <div class="video-wrapper order-2">
      <video playsinline autoplay muted loop >
        <source src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/3cGnNZMS3biPwCDMKoNAmu/48f168b2-2091-470a-bb74-59d08959f98c.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="sticky">
        <div id="homepage-carousel-caption" class="carousel-caption order-1">
          <h1 class="m-0">
            <i class="{{ page.icon }}" aria-hidden="true"></i> <span class="">The German Apprenticeship Model</span>
          </h1>
          <h3>
        Dual Education Employer-driven Skills Development
          </h3>
        </div>
      </div>
    </div>
</div>
</div>
