<div class="section section--index section--index--instruction">
  <div class="video-wrapper">
    <video playsinline autoplay muted loop >
      <source src="https://turbine-user-content.s3.us-east-2.amazonaws.com/user-content/3cGnNZMS3biPwCDMKoNAmu/48f168b2-2091-470a-bb74-59d08959f98c.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="text-center-middle">
    <h1>
      Industry 4.0 Apprenticeships
    </h1>
    <h3 style="color: white;">
 for Western Pennsylvania
    </h3>
    <br />
    <a
      class="btn btn-lg btn-primary ga-click-event"
      href="/apprenticeships"
      ga-label="View Apprenticeships"
      ga-category="index"
      title="GACC Apprenticeships"
    >
      See More
    </a>
  </div>
</div>
