<div class="col-md-12 col-lg-4 mb-4">
  <div class="card shadow-sm {% if page.hide_card_details_btn %}no-hover{% else %}h-100{% endif %}">
    <img
      class="card-img-top"
      src="{{ site.s3bucket }}/images/coding-series--04.jpg"
      alt="Backend Web Development"
    />
    <div class="card-body">
      <h5>
        Backend Web Development
      </h5>
      <p class="card-text">
        Build scalable web applications, integrate your code with databases and frontend web programming.
      </p>
      <!-- Learn the basics of computer programming, -->

      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          Python 3, MVC structure, Databases, Django, Flask and Web Architecture
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Tuesday, <code>7-9pm</code>.
          <br/>
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          Python
        </span>
      </p>

      <div class="d-flex justify-content-between align-items-center">
        <a
          class="btn btn-md btn-secondary my-2 stretched-link ga-click-event"
          href="#"
          role="button"
          ga-label="events"
          ga-category="pythonCourse"
          data-toggle="modal"
          data-target="#modal--pythonCourse--events"
        >
          Keep me posted
        </a>
        <div class="text-right">
          <span>Premium: <b>$599</b></span><br />
          <small class="text-muted">Starter: $1,199</small>
        </div>
      </div>
    </div>

    <div class="ribbon-wrapper">
      <div class="ribbon ribbon-blue">SPRING 2020</div>
    </div>

  </div>
</div>
