<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="{{ site.s3bucket }}/images/coding-session-03.jpg" alt="Web Foundations : Git & Comandline" />
    <div class="card-body">
      <h5>
        Git & Command Line
      </h5>
      <p class="card-text">
        Leverage the most popular version control system and begin interacting with your machine like a developer through the Command Line.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          Git, Bash, Command Line, GitHub
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          On demand.
          <br />
          Online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          HTML & CSS
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-end">
        <small>
          Included with Membership
        </small>
      </div>
    </div>
  </div>
</div>
