<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="{{ site.s3bucket }}/images/coding-session-04.jpg" alt="Web Foundations : HTML & CSS" />
    <div class="card-body">
      <h5>
        HTML & CSS
      </h5>
      <p class="card-text">
        Begin building websites and components with HTML & CSS.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          HTML, CSS, Git, GitHub
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Wednesday, <code>7-9pm</code>.
          <br />
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          n/a
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-end">
        <small>
          Included with Membership
        </small>
      </div>

    </div>
  </div>
</div>
