<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card no-hover shadow-sm h-100">
    <img class="card-img-top" src="{{ site.s3bucket }}/images/coding-session--ui-toolkits-lg.jpg" alt="Web Foundations : UI Toolkits" />
    <div class="card-body">
      <h5>
        User Interface Toolkits
      </h5>
      <p class="card-text">
        Leverage common ui toolkits to rapidly build user interfaces.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          Bootstrap, Grid System
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Wednesday, <code>7-9pm</code>.
          <br />
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          n/a
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-end">
        <small>
          Included with Membership
        </small>
      </div>
    </div>
  </div>
</div>
