<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div class="card shadow-sm {% if page.hide_card_details_btn %}no-hover{% else %}h-100{% endif %}">
    <img
      class="card-img-top"
      src="{{ site.s3bucket }}/images/coding-session-00.jpg"
      alt="Web Dev"
    />
    <div class="card-body">
      <h5>
        Web Dev
      </h5>
      <p class="card-text">
        Build a responsive portfolio of websites from scratch using HTML, CSS and JavaScript.
      </p>
      <p>
        <b>Topics:</b>
        <br />
        <span class="text-muted mt-2">
          HTML5, CSS3, JavaScript, jQuery, Bootstrap, Git & GitHub
        </span>
      </p>

      <p>
        <b>Schedule:</b>
        <br />
        <span class="text-muted mt-2">
          Tuesday, <code>7-9pm</code>.
          <br/>
          Weekly, online.
        </span>
      </p>

      <p>
        <b>Prerequisite:</b>
        <br />
        <span class="text-muted mt-2">
          {% if page.hide_card_details_btn %}
            <a
              class="ga-click-event my-2"
              title="Web Foundations"
              href="/instruction#web-foundations"
              ga-label="Web Foundations"
              ga-category="prerequisite"
            >
              Web Foundations
            </a>
          {% else %}
            Web Foundations
          {% endif %}
        </span>
      </p>

      <div class="d-flex align-items-center justify-content-between">
        {% if page.hide_card_details_btn %}
        <p>
          <b><mark>Need brief content here for card structuring </mark></b>
          <br />
          <span class="text-muted mt-2">
            Included with <a class="ga-click-event" href="/membership" ga-label="membership" ga-category="webdev">Premium</a>
          </span>
        </p>
        {% else %}
          <a
            role="button"
            class="btn btn-md btn-primary ga-click-event my-2 stretched-link"
            title="Modern Website Development"
            href="/instruction/orbits/web-development"
            ga-label="Modern Website Development"
            ga-category="instruction"
          >
            Details
          </a>
          <div class="text-right">
            <span>Premium: <b>Included</b></span><br />
            <small class="text-muted">Starter: $599</small>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
